<app-chapter-hat [data]="chapterHatInfo"></app-chapter-hat>
<article 
    #article
    progressBarListener
    class="chapter-content">
    <app-float-container
        [startPosEl]="article"
        [endPosEl]="article"
        [child]="myShare.nativeElement"
        fixOffset="40"
        endOffset="-60">
        <app-share #share></app-share>
    </app-float-container>
    <!-- Inserir o share -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <div class="mission">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="mission__title">{{ 'CHAPTER_2.CONTENT.MISSION_TITLE' | translate }}</h2>
                            <p class="mission__text">{{ 'CHAPTER_2.CONTENT.MISSION_CONTENT' | translate }}</p>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="mission__title mt-lg-0 mt-3">{{ 'CHAPTER_2.CONTENT.VISION_TITLE' | translate }}</h2>
                            <p class="mission__text">{{ 'CHAPTER_2.CONTENT.VISION_CONTENT' | translate }}</p>
                        </div>
                    </div>
                </div>
                <img src="assets/images/mission.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <div class="beliefs">
                    <h3 class="beliefs__title">{{ 'CHAPTER_2.BELIEFS.BELIEFS_TITLE' | translate }}</h3>
                    <div class="beliefs__block">
                        <h6 class="beliefs__block--title">{{ 'CHAPTER_2.BELIEFS.BELIEF_1.TITLE' | translate }}</h6>
                        <p class="beliefs__block--content">{{ 'CHAPTER_2.BELIEFS.BELIEF_1.TEXT' | translate }}</p>
                    </div>
                    <div class="beliefs__block">
                        <h6 class="beliefs__block--title">{{ 'CHAPTER_2.BELIEFS.BELIEF_2.TITLE' | translate }}</h6>
                        <p class="beliefs__block--content">{{ 'CHAPTER_2.BELIEFS.BELIEF_2.TEXT' | translate }}</p>
                    </div>
                    <div class="beliefs__block">
                        <h6 class="beliefs__block--title">{{ 'CHAPTER_2.BELIEFS.BELIEF_3.TITLE' | translate }}</h6>
                        <p class="beliefs__block--content">{{ 'CHAPTER_2.BELIEFS.BELIEF_3.TEXT' | translate }}</p>
                    </div>
                    <div class="beliefs__block">
                        <h6 class="beliefs__block--title">{{ 'CHAPTER_2.BELIEFS.BELIEF_4.TITLE' | translate }}</h6>
                        <p class="beliefs__block--content">{{ 'CHAPTER_2.BELIEFS.BELIEF_4.TEXT' | translate }}</p>
                    </div>
                    <div class="beliefs__block">
                        <h6 class="beliefs__block--title">{{ 'CHAPTER_2.BELIEFS.BELIEF_5.TITLE' | translate }}</h6>
                        <p class="beliefs__block--content">{{ 'CHAPTER_2.BELIEFS.BELIEF_5.TEXT' | translate }}</p>
                    </div>
                    <div class="beliefs__block">
                        <h6 class="beliefs__block--title">{{ 'CHAPTER_2.BELIEFS.BELIEF_6.TITLE' | translate }}</h6>
                        <p class="beliefs__block--content">{{ 'CHAPTER_2.BELIEFS.BELIEF_6.TEXT' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</article>
<app-related [relatedData]="relatedInfo"></app-related>
