<app-chapter-hat [data]="chapterHatInfo"></app-chapter-hat>
<article class="chapter-content">
    <!-- Inserir o share -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <div class="mission">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="mission__title">Missão</h2>
                            <p class="mission__text">Concretizar o pleno potencial proissional de jovens talentos acadêmicos de baixa renda através de programas calcados na valorização da excelência, da ética e da criatividade produtiva.</p>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="mission__title mt-lg-0 mt-3">Visão</h2>
                            <p class="mission__text">Formar e colocar no mercado de trabalho, até 2020, 250 bolsistas do Ismart nas carreiras apoiadas e em posições de destaque.</p>
                        </div>
                    </div>
                </div>
                <img src="assets/images/mission.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <div class="beliefs">
                    <h3 class="beliefs__title">Crenças</h3>
                    <div class="beliefs__block">
                        <h6 class="beliefs__block--title">As diferentes formas de talento se distribuem por todas as classes sociais.</h6>
                        <p class="beliefs__block--content">O lugar de onde você vem não determina quem você vai ser. É só procurar que a gente acha milhares de jovens talentosos pelo Brasil afora!</p>
                    </div>
                    <div class="beliefs__block">
                        <h6 class="beliefs__block--title">As boas oportunidades catalisam a promoção social.</h6>
                        <p class="beliefs__block--content">Segure as oportunidades com força para transformar sua vida. Grandes coisas acontecem quando o talento encontra a oportunidade: quando ela cruzar o seu caminho, não deixe passar!</p>
                    </div>
                    <div class="beliefs__block">
                        <h6 class="beliefs__block--title">O talento só se concretiza por meio do esforço pessoal.</h6>
                        <p class="beliefs__block--content">Para ter sucesso não basta só talento; é preciso ralar muito.</p>
                    </div>
                    <div class="beliefs__block">
                        <h6 class="beliefs__block--title">A excelência é a base para os resultados desejados.</h6>
                        <p class="beliefs__block--content">Para ter sucesso não basta só talento e ralar muito: tem que fazer bem feito sempre. Dê o seu melhor e vai chegar lá.</p>
                    </div>
                    <div class="beliefs__block">
                        <h6 class="beliefs__block--title">Nossa definição de sucesso é a transformação do seu sonho grande em uma atividade produtiva, com ética e responsabilidade social.</h6>
                        <p class="beliefs__block--content">Para o Ismart, o sucesso acontece quando você sonha grande, realiza, faz a diferença e transforma o seu mundo para melhor.</p>
                    </div>
                    <div class="beliefs__block">
                        <h6 class="beliefs__block--title">Os bons exemplos têm efeito multiplicador.</h6>
                        <p class="beliefs__block--content">Inspire com seu bom exemplo: primeiro um irmão, depois o vizinho, a turma da rua, a escola, a comunidade... transforme seu mundo!</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</article>
<app-related [relatedData]="relatedInfo"></app-related>
