<section class="chapters">
	<div class="container">
		<div class="header__chapters--top">
			<h3 class="chapters__title">{{ 'CHAPTERS.TITLE' | translate }}</h3>
			<button type="button" class="btn chapters__hide" aria-label="Fechar" (click)="fecharModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="row no-gutters chapters__list">
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							01.
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.01' | translate }}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/02-missao-visao-valores']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							02.
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.02' | translate }}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							03.
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.03' | translate }}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/04-trajetorias-ismart']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.04' | translate }}
						</h4>
					</div>
				</a>
			</div>

			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.05' | translate }}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.06' | translate }}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.07' | translate }}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.08' | translate }}
						</h4>
					</div>
				</a>
			</div>

			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.09' | translate }}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.10' | translate }}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.11' | translate }}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							05.
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.12' | translate }}
						</h4>
					</div>
				</a>
			</div>


			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							06.
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.13' | translate }}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							07.
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.14' | translate }}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							08.
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.15' | translate }}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							09.
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.16' | translate }}
						</h4>
					</div>
				</a>
			</div>

			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']" (click)="fecharModal()">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							10.
						</span>
						<h4 class="chapters__item--title">
							{{ 'CHAPTERS.17' | translate }}
						</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>