<header class="header">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-3">
				<button class="header__button header__button--chapters" (click)="toggle()">
					<img src="assets/images/chapter.svg" alt="" class="header__button--icon">
					Capítulos
				</button>
				<div class="header__chapters">
					<app-chapters *ngIf="show" (onCloseChapters)="toggle($event)"></app-chapters>
				</div>
				<button class="header__button">
					<img src="assets/images/globe.svg" alt="" class="header__button--icon">
					EN
				</button>
			</div>
			<div class="col-6 text-center">
				<div class="header__title">
					<img src="assets/images/logo-header.svg" alt="" class="header__title--image">
					<h1 class="header__title--excerpt">Relatório de Atividades 2018-2019</h1>
				</div>
			</div>
			<div class="col-3 text-right">
				<button class="header__toggle">
					Menu
					<div class="header__toggle--icon">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</button>
			</div>
		</div>
	</div>
</header>