<app-chapter-hat
	[data]="chapterHatInfo"></app-chapter-hat>
<app-chapter-content-all
	[testimonialPosition]="testimonialPosition">
</app-chapter-content-all>
<app-testimonials
	[data]="testimonials.getByPage('contato')"
	#testimonialComponent
	(onTestimonialCardClick)="modal.openModal()">
</app-testimonials>
<app-related [relatedData]="relatedInfo"></app-related>
<app-modal
	#modal
	[testimonial]="testimonials.current"
	(onPrev)="onPrevTestimonial()"
	(onNext)="onNextTestimonial()">
</app-modal>