<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="row justify-content-between align-items-center">
				<div class="col-12 col-md-2">
					<div class="footer__brand">
						<a [routerLink]="['/home']">
							<img src="assets/images/logo-footer.svg" alt="" class="footer__brand--image">
						</a>
					</div>
				</div>
				<div class="col-12 col-md-8">
					<ul class="footer__nav">
						<li class="footer__nav--item">
							<a [routerLink]="['/home']" class="footer__nav--link">{{ 'NAV.HOME' | translate }}</a>
						</li>
						<li class="footer__nav--item">
							<a [routerLink]="['/download']" class="footer__nav--link">{{ 'NAV.DOWNLOAD' | translate }}</a>
						</li>
						<li class="footer__nav--item">
							<a [routerLink]="['/versoes']" class="footer__nav--link">{{ 'NAV.VERSIONS' | translate }}</a>
						</li>
						<li class="footer__nav--item">
							<a [routerLink]="['/sobre']" class="footer__nav--link">{{ 'NAV.ABOUT' | translate }}</a>
						</li>
						<li class="footer__nav--item">
							<a [routerLink]="['/contato']" class="footer__nav--link">{{ 'NAV.CONTACT' | translate }}</a>
						</li>
					</ul>
				</div>
				<div class="col-12 col-md-2">
					<ul class="footer__social">
						<li class="footer__social--item">
							<a href="https://www.facebook.com/ismart.oficial/" target="_blank" class="footer__social--link">
								<i class="fa fa-facebook-f"></i>
							</a>
						</li>
						<li class="footer__social--item">
							<a href="https://www.instagram.com/ismart.oficial/" target="_blank" class="footer__social--link">
								<i class="fa fa-instagram"></i>
							</a>
						</li>
						<li class="footer__social--item">
							<a href="https://www.linkedin.com/company/instituto-ismart/" target="_blank" class="footer__social--link">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>		
		</div>
		<div class="footer__helper">
			<div class="row justify-content-between align-items-center">
				<div class="col-12 col-md-4">
					<p>
						<a [routerLink]="['/termos']">{{ 'FOOTER.TERMS' | translate }}</a>
					</p>
				</div>
				<div class="col-12 col-md-4 text-center">
					<p>
						{{ 'FOOTER.COPYRIGHT' | translate }}
					</p>
				</div>
				<div class="col-12 col-md-4 text-right">
					<p>
						By
						<a href="http://weef.com.br" target="_blank">Weef</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>