@import "../../../variables.scss";

.header{
	background: $clear;
	padding: 25px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	&__button{
		background: none;
		border: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 16px;
		font-family: $montserrat;
		color: $blue-medium;
		transition: all 0.2s ease-out;
		&--icon{
			display: inline-block;
			margin-top: -2px;
			margin-right: 4px;
			color: inherit;
			fill: currentColor;
		}
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			color: $orange;
		}
		&:focus{
			outline: none;
		}
		&--chapters {
			&:hover {
				.header__button--icon {
					use {
						fill: $orange;
					}
				}
			}
		}
	}
	&__title{
		&--image{
			display: inline-block;
			vertical-align: middle;
			margin-right: 8px;
			margin-top: -3px;
		}
		&--excerpt{
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			font-family: $montserrat;
			font-size: 14px;
			color: $blue-dark;
			letter-spacing: 0.2px;
			text-transform: uppercase;
			font-weight: 400;
		}
	}
	&__toggle{
		background: none;
		border: none;
		padding: 0;
		margin: 0;
		font-size: 14px;
		font-family: $montserrat;
		color: $blue-medium;
		transition: all 0.2s ease-out;
		&--icon{
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
			span{
				display: block;
				width: 16px;
				height: 2px;
				background: $blue-medium;
				border-radius: 2px;
				margin-bottom: 4px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&:hover{
			color: $orange;
		}
		&:focus{
			outline: none;
		}
	}
	&__chapters {
		position: fixed;
		width: 100vw;
		left: 0px;
		top: 74px;
		overflow-y: scroll;
		max-height: 100vh;
	}
	&.chapters-opened {
		.header__button--icon {
			fill: $orange;
		}
	}
	@media (max-width: 800px) {
		&__button--chapters {
			.header__button--text {
				display: none;
			}
		}
	}
	@media (max-width: 768px) {
		&__title {
			&--excerpt {
				display: none;
			}
		}
	}
	@media (max-width: 540px) {
		&__button--chapters {
			margin-right: 15px;
		}
		&__button--icon {
			margin-right: 0;
		}
		&__toggle {
			&--text {
				display: none;
			}
		}
	}
}