<header
	#header
	[ngClass]="{
		'header': true,
		'chapters-opened': hasChaptersOpened,
		'menu__open': hasMenuOpened,
		'menu__close': !hasMenuOpened
	}"
	[ngStyle]="headerStyle"
	>
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-4 col-lg-3 col-sm-3">
				<button class="header__button header__button--chapters" (click)="toggle()">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="header__button--icon">
						<path id="a" d="M6.5.5H1.25C.8.5.5.8.5 1.25V6.5c0 .45.3.75.75.75H6.5c.45 0 .75-.3.75-.75V1.25C7.25.8 6.95.5 6.5.5zm-.75 5.25H2V2h3.75v3.75zm9-5.25H9.5c-.45 0-.75.3-.75.75V6.5c0 .45.3.75.75.75h5.25c.45 0 .75-.3.75-.75V1.25c0-.45-.3-.75-.75-.75zM14 5.75h-3.75V2H14v3.75zm.75 3H9.5c-.45 0-.75.3-.75.75v5.25c0 .45.3.75.75.75h5.25c.45 0 .75-.3.75-.75V9.5c0-.45-.3-.75-.75-.75zM14 14h-3.75v-3.75H14V14zM6.5 8.75H1.25c-.45 0-.75.3-.75.75v5.25c0 .45.3.75.75.75H6.5c.45 0 .75-.3.75-.75V9.5c0-.45-.3-.75-.75-.75zM5.75 14H2v-3.75h3.75V14z"/>
					</svg>
					<span class="header__button--text">{{ 'HEADER.BUTTONS.CHAPTERS' | translate }}</span>
				</button>
				<div class="header__chapters">
					<app-chapters *ngIf="hasChaptersOpened" (onCloseChapters)="toggle($event)"></app-chapters>
				</div>
				<button 
					class="header__button"
					(click)="onAvailableLanguageClick()">
						<img src="assets/images/globe.svg" 
							alt="" 
							class="header__button--icon">
					{{ availableLanguage.split('-')[0] }}
				</button>
			</div>
			<div class="col-4 col-lg-6 col-sm-6 text-center">
				<a [routerLink]="['/home']">
					<div class="header__title">
						<img src="assets/images/logo-header.svg" alt="" class="header__title--image">
						<h1 class="header__title--excerpt">{{ 'HEADER.EXCERPT' | translate }}</h1>
					</div>
				</a>
			</div>
			<div class="col-4 col-lg-3 col-sm-3 text-right">
				<button class="header__toggle" (click)="toggleMenu()">
					<span class="header__toggle--text">{{ 'HEADER.BUTTONS.MENU' | translate }}</span>
					<div class="header__toggle--icon">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</button>
			</div>
		</div>
	</div>
	<app-menu (onCloseMenu)="toggleMenu()"></app-menu>
</header>