<app-chapter-hat [data]="chapterHatInfo"></app-chapter-hat>
<article 
    class="chapter-content"
    progressBarListener
    #article>
    <app-float-container
        [startPosEl]="article"
        [endPosEl]="testimonialComponent.nativeElement"
        fixOffset="40"
        endOffset="-40"
        [child]="shareComponent.nativeElement">
    <app-share #share></app-share>
</app-float-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12" contentOffset [innerHTML]="'CHAPTER_6.CONTENT.SECTION_1' | translate">
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-0">
                <div class="img__container">
                    <img src="assets/images/eduardo-braga.jpg" alt="">
                </div>
                <div class="container-fluid">
                    <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                        <figcaption><img src="assets/images/camera.svg" alt="">{{ 'CHAPTER_6.CONTENT.SECTION_2' | translate }}</figcaption>
                    </div>
                </div>
            </figure>
        </div>
    </div>
</article>
<app-testimonials
    [data]="testimonials.getByPage('horizonte')"
	(onTestimonialCardClick)="modal01.openModal()">
</app-testimonials>
<app-testimonials
    #testimonial
    [data]="testimonials.getByPage('chegando')"
    customTitle="Para quem está chegando agora ao Ismart"
    [modeDark]="true"
	(onTestimonialCardClick)="modal02.openModal()">
</app-testimonials>
<app-related [relatedData]="relatedInfo"></app-related>
<app-modal
	#modal01
	[testimonial]="testimonials.current"
	(onPrev)="testimonials.navigatePrev('horizonte')"
	(onNext)="testimonials.navigateNext('horizonte')">
</app-modal>
<app-modal
	#modal02
	[testimonial]="testimonials.current"
	(onPrev)="testimonials.navigatePrev('chegando')"
	(onNext)="testimonials.navigateNext('chegando')">
</app-modal>