@import "../../../variables.scss";

.chapter-hat {
    margin-top: 75px;
    text-align: center;
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    &__title {
        color: $clear;
        text-transform: uppercase;
        h2 {
            font-size: 14px;
            font-family: $montserrat;
            margin-bottom: 5px;
        }
        h1 {
            font-size: 32px;
            font-weight: bold;
            font-family: $montserrat;
        }
    }
}