<app-chapter-hat
    [data]="chapterHatInfo"></app-chapter-hat>
<article 
    #article
    progressBarListener
    class="chapter-content">
    <app-float-container
        [startPosEl]="article"
        [endPosEl]="testimonialComponent.nativeElement"
        fixOffset="240"
        [child]="sidebarComponent.nativeElement">
        <app-sidebar #sidebar></app-sidebar>
        <app-share></app-share>
    </app-float-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12" contentOffset>
                <span class="tag">{{ 'CHAPTERS.04.4' | translate }}</span>
                <h2 class="chapter-content__title">{{ 'CHAPTER_4.4.CONTENT.TITLE' | translate }}</h2>
                <h3 class="chapter-content__subtitle">{{ 'CHAPTER_4.4.CONTENT.SUBTITLE' | translate }}</h3>
                <span [innerHTML]="'CHAPTER_4.4.CONTENT.SECTION_1' | translate"></span>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-0">
                <div class="img__container">
                    <img src="assets/images/pedro-henrique-costa-e-silva.jpg" alt="">  
                </div>
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt="">{{ 'CHAPTER_4.4.CONTENT.SECTION_2' | translate }}</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12" [innerHTML]="'CHAPTER_4.4.CONTENT.SECTION_3' | translate">
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-0">
                <div class="img__container">
                    <img src="assets/images/luan-oliveira-graduado-ismart.jpg" alt="">  
                </div>
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt=""> {{ 'CHAPTER_4.4.CONTENT.SECTION_4' | translate }}</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12" [innerHTML]="'CHAPTER_4.4.CONTENT.SECTION_5' | translate">
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-0">
                <div class="img__container">
                    <img src="assets/images/kathleen-ayumi-higa.png" alt="">  
                </div>
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt="">{{ 'CHAPTER_4.4.CONTENT.SECTION_6' | translate }} </figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12" [innerHTML]="'CHAPTER_4.4.CONTENT.SECTION_7' | translate">
            </div>
        </div>
    </div>
</article>
<app-testimonials
    [data]="testimonials.getByPage('suporte')"
	#testimonial
	(onTestimonialCardClick)="modal.openModal()">
</app-testimonials>
<app-related [relatedData]="relatedInfo"></app-related>
<app-modal
	#modal
	[testimonial]="testimonials.current"
	(onPrev)="testimonials.navigatePrev('suporte')"
	(onNext)="testimonials.navigateNext('suporte')">
</app-modal>