<app-chapter-hat [data]="chapterHatInfo"></app-chapter-hat>
<article 
    class="chapter-content"
    progressBarListener
    #article>
    <app-float-container
        [startPosEl]="article"
        [endPosEl]="testimonialComponent.nativeElement"
        fixOffset="40"
        endOffset="-40"
        [child]="shareComponent.nativeElement">
        <app-share #share></app-share>
    </app-float-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>“Não é só o bolsista do Ismart que se beneficia por estar aqui. Todo o Colégio ganha com a parceria”, destaca Helena Aguiar, diretora de Planejamento e Integração do Colégio Bandeirantes, um dos mais tradicionais da capital paulista e que recebe alunos do Ismart no Projeto Alicerce. “Os alunos acabam se ajudando mutuamente, em grupos de estudo, por exemplo, e isso é maravilhoso”, explica. “Alguns fazem muito esforço para estar aqui porque sabem que isso não vai mudar somente a história deles, mas a de suas famílias também. Isso inspira todo mundo. O que fazemos, então, é unir essa vontade de superação, que já é deles – e é por isso que eles foram selecionados pelo Ismart – a todas as oportunidades que uma escola de excelência pode oferecer: é a combinação perfeita!”, completa.</p>
                <p>No Rio de Janeiro (RJ), Marcel Lima, Diretor-Geral do Colégio pH, também destaca a troca de experiências: “Os alunos, pelas diferentes realidades, expõem diferentes pontos de vista em sala de aula e isso é muito enriquecedor porque estimula o pensamento crítico – uma de nossas premissas”.</p>
                <p>A trajetória de superação desses jovens, para Marcel, é o que os motiva a fazer a diferença depois de formados. “Esses alunos desenvolvem uma sensação de pertencimento a uma so-ciedade para a qual eles querem dar um retorno. O futuro deles, portanto, não será nada menos que brilhante, uma página em branco na qual eles poderão desenhar o que quiserem”, finaliza.</p>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img">
                <div class="img__container">
                    <img src="assets/images/helena-aguiar.jpg" alt="">
                </div>
                <div class="container-fluid">
                    <blockquote class="blockquote__image blockquote__quote">Não é só o bolsista do Ismart que se beneficia por estar aqui. Todo o Colégio ganha com a parceria
                    <cite>Helena Aguiar - diretora de Planejamento e Integração do Colégio Bandeirantes</cite>
                    </blockquote>
                    <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                        <figcaption><img src="assets/images/camera.svg" alt="">Helena Aguiar - diretora de Planejamento e Integração do Colégio Bandeirantes - São Paulo</figcaption>
                    </div>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>Bruno Resende Domingues reforça essa resolução. Egresso do Colégio Bandeirantes e do curso de Engenharia de Produção da Universidade de São Paulo (USP), o jovem tem passagens por grandes empresas. Começou a estagiar no Citibank, onde foi efetivado e trabalhou nas áreas de Planejamento, Risco de Mercado e Asset Management. Depois ingressou na Ambev, onde trabalha atualmente.</p>
                <p>“O Bruno sempre demonstrou muito potencial, muita vontade de trabalhar, de resolver, de ajudar e, além de tudo, capacidades analítica e técnica excepcionais”, destaca Ronaldo Rozenbaum, diretor da área de Orçamento e Planejamento Financeiro da Ambev e chefe do Bruno.</p>
                <p>Nos últimos quatro anos, Bruno passou por três funções, relativas a cada uma das linhas do demonstrativo financeiro. Mais recentemente, começou a atuar como gerente, sendo responsável por todas as três responsabilidades anteriores. Ao listar os elementos que impulsionaram a carreira de seu funcionário, Rozenbaum destaca a vontade de entregar sempre além do esperado. “Acho excepcional o trabalho do Ismart de dar uma oportunidade a pessoas que não necessariamente a teriam de maneira fácil, abrindo um caminho para termos um País com menos desigualdade”, conclui.</p>
                <p>Linaldo Vilar, Diretor de Produ-ção da DASA, a maior empresa de medicina diagnóstica da América Latina, também destaca a capacidade analítica de Felipe Oliveira Machado, trainee de sua equipe e ex-bolsista do Ismart. Após concluir o ensino médio no Colégio Sidarta, em Cotia (SP), Felipe cursou Química na Universidade de São Paulo, período em que integrou a entidade Enactus também, uma organização internacional dedicada a inspirar alunos a melhorar o mundo por meio da ação empreendedora.</p>
                <p>O protagonismo na busca por conhecimento é, para Vilar, um dos diferenciais do jovem. “Ele sempre está interessado em buscar informa-ções sobre o setor em que atua”, conta. Para o Diretor, o futuro do jovem será promissor, vindo a ocupar cargos de gestão futuramente. “A participação de executivos na formação dos alunos Ismart proporciona a eles uma visão correta sobre o mundo corporativo”, completa.</p>
                <blockquote class="blockquote__quote blockquote__white">Esses alunos desenvolvem uma sensação de pertencimento a uma sociedade para a qual eles querem dar um retorno
                <cite>Marcel Lima - Diretor-Geral do Colégio PH</cite>
                </blockquote>
            </div>
        </div>
    </div>
</article>
<app-testimonials
    [data]="testimonials.getByPage('parceiros')"
	#testimonial
	(onTestimonialCardClick)="modal.openModal()">
</app-testimonials>
<app-related [relatedData]="relatedInfo"></app-related>
<app-modal
	#modal
	[testimonial]="testimonials.current"
	(onPrev)="testimonials.navigatePrev('parceiros')"
	(onNext)="testimonials.navigateNext('parceiros')">
</app-modal>