<app-chapter-hat [data]="chapterHatInfo"></app-chapter-hat>
<article 
    class="chapter-content"
    progressBarListener
    #article>
    <app-float-container
        [startPosEl]="article"
        [endPosEl]="testimonialComponent.nativeElement"
        fixOffset="40"
        endOffset="-40"
        [child]="shareComponent.nativeElement">
        <app-share #share></app-share>
    </app-float-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12" contentOffset>
                <span [innerHTML]="'CHAPTER_5.CONTENT.SECTION_1' | translate"></span>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-5">
                <div class="img__container">
                    <img src="assets/images/helena-aguiar.jpg">
                </div>
                <div class="blockquote__container container">
                    <blockquote class="blockquote__image blockquote__quote">{{ 'CHAPTER_5.CONTENT.SECTION_2.QUOTE' | translate }}
                    <cite>{{ 'CHAPTER_5.CONTENT.SECTION_2.CITE' | translate }}</cite>
                    </blockquote>
                </div>
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt="">{{ 'CHAPTER_5.CONTENT.SECTION_2.PHOTO_DESCRIPTION' | translate }}</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <span [innerHTML]="'CHAPTER_5.CONTENT.SECTION_3' | translate"></span>
            </div>
        </div>
    </div>
</article>
<app-testimonials
    [data]="testimonials.getByPage('parceiros')"
	#testimonial
	(onTestimonialCardClick)="modal.openModal()">
</app-testimonials>
<app-related [relatedData]="relatedInfo"></app-related>
<app-modal
	#modal
	[testimonial]="testimonials.current"
	(onPrev)="testimonials.navigatePrev('parceiros')"
	(onNext)="testimonials.navigateNext('parceiros')">
</app-modal>