<section class="overview">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				<div class="row">
					<div class="col-12 col-md-5">
						<p class="overview__tag">{{ 'HOME.OVERVIEW.TAG' | translate }}</p>
						<h2 class="overview__title">{{ 'HOME.OVERVIEW.TITLE' | translate }}</h2>
						<p class="overview__excerpt">{{ 'HOME.OVERVIEW.EXCERPT' | translate }}</p>
						<a href="#" class="overview__button">
							{{ 'HOME.OVERVIEW.BUTTON' | translate }}
							<img src="assets/images/double-arrow.svg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>