<section class="overview">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				<div class="row">
					<div class="col-12 col-md-5">
						<p class="overview__tag">#Ismart20anos</p>
						<h2 class="overview__title">Relatório de atividades 2018-2019</h2>
						<p class="overview__excerpt">Há 20 anos transformamos talentos em protagonistas do futuro.</p>
						<a href="#" class="overview__button">
							Ver relatório
							<img src="assets/images/double-arrow.svg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>