<section class="testimonials">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-10 offset-1">
                <h3 class="testimonials__title">Testemunhos</h3>
                <div class="testimonials__carousel">
                    <div class="testimonials__single">
                        <figure class="testimonials__img">
                            <img src="assets/images/isabela-moraes.jpg" alt="">
                        </figure>
                        <h4 class="testimonials__name">Isabela Julio de Moraes</h4>
                        <p class="testimonials__about">18 anos, estudante do Colégio Objetivo, em São José dos Campos – SP</p>
                        <a href="" class="testimonials__lin">Ver depoimento</a>
                    </div>
                    <div class="testimonials__single">
                        <figure class="testimonials__img">
                            <img src="assets/images/isabela-moraes.jpg" alt="">
                        </figure>
                        <h4 class="testimonials__name">Isabela Julio de Moraes</h4>
                        <p class="testimonials__about">18 anos, estudante do Colégio Objetivo, em São José dos Campos – SP</p>
                        <a href="" class="testimonials__lin">Ver depoimento</a>
                    </div>
                    <div class="testimonials__single">
                        <figure class="testimonials__img">
                            <img src="assets/images/isabela-moraes.jpg" alt="">
                        </figure>
                        <h4 class="testimonials__name">Isabela Julio de Moraes</h4>
                        <p class="testimonials__about">18 anos, estudante do Colégio Objetivo, em São José dos Campos – SP</p>
                        <a href="" class="testimonials__lin">Ver depoimento</a>
                    </div>
                    <div class="testimonials__single">
                        <figure class="testimonials__img">
                            <img src="assets/images/isabela-moraes.jpg" alt="">
                        </figure>
                        <h4 class="testimonials__name">Isabela Julio de Moraes</h4>
                        <p class="testimonials__about">18 anos, estudante do Colégio Objetivo, em São José dos Campos – SP</p>
                        <a href="" class="testimonials__lin">Ver depoimento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>