<app-chapter-hat [data]="chapterHatInfo"></app-chapter-hat>

<article 
	progressBarListener
	#article
	class="chapter-content pb-0">
	<app-float-container
			[startPosEl]="article"
			[endPosEl]="article"
			[child]="shareComponent.nativeElement"
			fixOffset="60">
			<app-share #share></app-share>
	</app-float-container>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
				<h2>{{ 'CHAPTER_8.CONTENT.SECTION_1' | translate }}</h2>
				<!-- <svg-icon name="alicerse" viewBox="0 0 597 142"></svg-icon>
				<svg-icon name="bolsa-talento" viewBox="0 0 597 198"></svg-icon> -->
				<svg-icon name="ismart-online" viewBox="0 0 597 613"></svg-icon>
				<h2>{{ 'CHAPTER_8.CONTENT.SECTION_2.TITLE' | translate }}</h2>
				<div 
					class="inline-data">
					<svg-icon 
						name="doc" 
						viewBox="0 0 75 75"
						height="75"
						width="75">
					</svg-icon>
					<strong>59,7%</strong>
					<span class="divider"></span>
					<p>{{ 'CHAPTER_8.CONTENT.SECTION_2.TEXT' | translate }}</p>
				</div>
				<h2>{{ 'CHAPTER_8.CONTENT.SECTION_3.TITLE' | translate }}</h2>
				<svg-icon name="presencial-cidade" viewBox="0 0 601 701"></svg-icon>
				<h2>{{ 'CHAPTER_8.CONTENT.SECTION_3.TITLE_2' | translate }}</h2>
				<div class="d-flex justify-content-between mb-5">
					<div class="vert-card">
						<svg-icon 
							class="vert-card__icon"
							viewBox="0 0 81 81"
							height="81"
							width="81"
							name="pencil-large">
						</svg-icon>
						<div class="vert-card__box vert-card__box--border">
							<span>178</span>
						</div>
						<p class="vert-card__text">{{ 'CHAPTER_8.CONTENT.SECTION_3.TEXT' | translate }}</p>
					</div>
					<div class="vert-card">
						<svg-icon 
							class="vert-card__icon"
							viewBox="0 0 81 81"
							height="81"
							width="81"
							name="study">
						</svg-icon>
						<div class="vert-card__box">
							<span>99%</span>
						</div>
						<p class="vert-card__text">{{ 'CHAPTER_8.CONTENT.SECTION_3.TEXT' | translate }}</p>
					</div>
					<div class="vert-card">
						<svg-icon 
							class="vert-card__icon"
							viewBox="0 0 81 81"
							height="81"
							width="81"
							name="medal">
						</svg-icon>
						<div class="vert-card__box">
							<span>12%</span>
						</div>
						<p class="vert-card__text">{{ 'CHAPTER_8.CONTENT.SECTION_3.TEXT' | translate }}</p>
					</div>
				</div>
				<!-- <img src="assets/images/numero-de-alunos-do-ismart-presencial-por-cidade.svg" alt=""> -->
			</div>
		</div>
	</div>
	<div class="block-content">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
					<h3 class="block-content__title">{{ 'CHAPTER_8.CONTENT.SECTION_4.TITLE' | translate }}</h3>
					<div class="block-content__blocks">
						<div>
							<h3>175</h3>
							<p>{{ 'CHAPTER_8.CONTENT.SECTION_4.NUM_1' | translate }}</p>
						</div>
						<div>
							<h3>129</h3>
							<p>{{ 'CHAPTER_8.CONTENT.SECTION_4.NUM_2' | translate }}</p>
						</div>
						<div>
							<h3>304</h3>
							<p>{{ 'CHAPTER_8.CONTENT.SECTION_4.NUM_3' | translate }}</p>
						</div>
						<div>
							<h3>47</h3>
							<p>{{ 'CHAPTER_8.CONTENT.SECTION_4.NUM_4' | translate }}</p>
						</div>
						<div>
							<h3>127</h3>
							<p>{{ 'CHAPTER_8.CONTENT.SECTION_4.NUM_5' | translate }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="block-content__bg"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
				<h2>{{ 'CHAPTER_8.CONTENT.SECTION_5' | translate }}</h2>
				<svg-icon 
					name="ativos-por-area"
					viewBox="0 0 690 182"
					width="690"
					height="182">
				</svg-icon>
				<h2 class="mb-2">{{ 'CHAPTER_8.CONTENT.SECTION_6.TITLE' | translate }}</h2>
				<p class="mb-4 no-first-character">{{ 'CHAPTER_8.CONTENT.SECTION_6.SUBTITLE' | translate }}</p>
				<div 
					class="d-flex justify-content-between align-items-center">
					<svg-icon
						class="m-0"
						name="ilustra01"
						viewBox="0 0 75 193"
						height="193"
						width="75">
					</svg-icon>
					<svg-icon
						class="m-0"
						name="grafico"
						viewBox="0 0 366 195"
						height="195"
						width="366">
					</svg-icon>
					<img src="../../../assets/images/ilustra-2.svg" class="ilustra02">
				</div>
				<ul class="graph-list">
					<li class="graph-list__item">
						<div class="graph-list__item-text">
							<h4>{{ 'CHAPTER_8.CONTENT.SECTION_6.PERCENTAGE_1.TITLE' | translate }}</h4>
							<span>{{ 'CHAPTER_8.CONTENT.SECTION_6.PERCENTAGE_1.SUBTITLE' | translate }}</span>
						</div>
						<div class="graph-list__item-number graph-list__item-number--blue-l">
							<span>49%</span>
						</div>
					</li>
					<li class="graph-list__item">
						<div class="graph-list__item-text">
							<h4>{{ 'CHAPTER_8.CONTENT.SECTION_6.PERCENTAGE_2.TITLE' | translate }}</h4>
							<span>{{ 'CHAPTER_8.CONTENT.SECTION_6.PERCENTAGE_2.SUBTITLE' | translate }}</span>
						</div>
						<div class="graph-list__item-number graph-list__item-number--blue-m">
							<span>49%</span>
						</div>
					</li>
					<li class="graph-list__item">
						<div class="graph-list__item-text">
							<h4>{{ 'CHAPTER_8.CONTENT.SECTION_6.PERCENTAGE_3.TITLE' | translate }}</h4>
							<span>{{ 'CHAPTER_8.CONTENT.SECTION_6.PERCENTAGE_3.SUBTITLE' | translate }}</span>
						</div>
						<div class="graph-list__item-number graph-list__item-number--green">
							<span>2%</span>
						</div>
					</li>
				</ul>
				<div 
					class="inline-data inline-data--version02">
					<svg-icon 
						name="study" 
						viewBox="0 0 81 81"
						height="81"
						width="81">
					</svg-icon>
					<span class="divider divider--white"></span>
					<strong>323</strong>
					<p>{{ 'CHAPTER_8.CONTENT.SECTION_7' | translate }}</p>
				</div>
				<h2>{{ 'CHAPTER_8.CONTENT.SECTION_8.TITLE' | translate }}</h2>
				<p>{{ 'CHAPTER_8.CONTENT.SECTION_8.SUBTITLE' | translate }}</p>
				<svg-icon
					name="tabela-custo01"
					viewBox="0 0 690 260"
					height="260"
					width="690">
				</svg-icon>
				<h2>{{ 'CHAPTER_8.CONTENT.SECTION_9.TITLE' | translate }}</h2>
				<p>{{ 'CHAPTER_8.CONTENT.SECTION_9.SUBTITLE' | translate }}</p>
				<svg-icon
					name="tabela-custo02"
					viewBox="0 0 690 186"
					height="186"
					width="690">
				</svg-icon>
			</div>
		</div>
		<hr class="my-4">
	</div>
</article>
<app-related [relatedData]="relatedInfo"></app-related>