<article class="chapter-content">
    <div class="container position-relative">
        <ul class="share">
            <li class="share--item">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://google.com" target="_blank" class="share--link">
                    <i class="fa fa-facebook-f"></i>
                </a>
            </li>
            <li class="share--item">
                <a href="#" class="share--link">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="share--item">
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://google.com&title=Mensagem%20do%20Conselho&source=Ismart" target="_blank" class="share--link">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>Nós, do Ismart, sempre acreditamos na educação como força transformadora da sociedade. Investir na área, portanto, representa a forma mais eficaz de contribuir para o desenvolvimento do Brasil. Por isso, ao longo dos últimos anos, buscamos participar da construção não só de uma sociedade mais justa, mas também mais eficiente, oferecendo oportunidade para jovens com muito talento, muita garra e pouco poder aquisitivo.</p>
                <p>Nosso objetivo sempre foi transformar esse potencial em realidade e, ao completarmos 20 anos, nos orgulhamos de ter beneficiado 4.800 jovens. Desde o início do trabalho, esse foi o principal propósito, pois temos a convicção de que é possível encontrar diferentes formas de talento em todas as classes sociais: basta oferecer oportunidade e estimular cada um a dar o máximo de si para alcançar os resultados desejados.</p>
                <p>Sonhar grande e transformar esse sonho em realidade são o melhor caminho para o sucesso pessoal e para fazer a diferença na sociedade. Os sonhos sem ação, porém, não levam a lugar nenhum. É preciso coragem e resiliência para, dia após dia, trabalhar, planejar, querer muito e fazer escolhas para atingir o objetivo e não perder o foco. E é isso que propomos aos bolsistas.</p>
                <p>Nosso trabalho começa no momento em que um jovem se inscreve para o processo seletivo. Funcionamos como um ecossistema do qual fazem parte órgãos públicos, por meio das secretarias de educação e seus professores, as escolas parceiras e toda a nossa equipe Ismart. Assim, a trajetória de um bolsista tem início nas salas de aula das escolas públicas, onde educadores identificam jovens com elevadas habilidades e os orientam a participar do processo seletivo. Rigoroso, ele visa avaliar, conhecer, entender, selecionar e engajar os futuros bolsistas que, em seguida, serão encaminhados às escolas parceiras – outra ponta desse ecossistema.</p>
                <blockquote class="blockquote__simple blockquote__white">Sonhar grande e transformar esse sonho em realidade são o melhor caminho para o sucesso pessoal e para fazer a diferença na sociedade.</blockquote>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img">
                <img src="assets/images/chapter-center.jpg" alt="">
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt="">Giovanna, Jean, Carlos e Lucca Muliterno</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>Nesses 20 anos, se obtivemos níveis de excelência na formação e capacitação de jovens talentos foi porque contamos com grandes escolas parceiras, cujo papel fundamental é receber os alunos bolsistas, desenvolvê-los por meio de uma educação de excelência e ajudá-los em sua adaptação. Toda essa organização envolve ainda a dedicação da equipe Ismart, que entende que é preciso ter foco, metas estabelecidas para obter resultados excepcionais, além de ofertar suporte psicológico e emocional.</p>
                <p>Aprendemos muito nesses anos, incorporamos valores fundamentais, como a importância de desenvolver as competências socioemocionais paralelamente à formação acadêmica e, assim, dar suporte aos bolsistas para sonhar cada vez mais e mais alto.</p>
                <p>Ao constatarmos que a tecnologia digital é uma realidade e vem provocando grandes transformações na sociedade, introduzimos a educação a distância ao nosso modelo, o que tem permitido ampliar a capacidade de atender jovens talentos, além do limite físico.</p>
                <p>Ao completarmos duas décadas, temos já os primeiros jovens formados pelo Ismart Online, o que nos motiva a continuar nesse caminho, investindo no mundo digital e na possibilidade de multiplicar a capacidade de atendimento. Outro objetivo para os próximos anos é manter a participação, conexão e atuação de ex-bolsistas em nossas atividades. Esse é o desafio do grupo Alumni: criar uma rede de apoio para os jovens que estão ingressando em nossos projetos, mostrar a eles exemplos de pessoas que, por meio do esforço, conseguiram mudar de vida e estão atuando e mudando a sociedade.</p>
                <p>Com base nessa bem-sucedida trajetória, pedimos aos bolsistas, aos parceiros e à equipe do Ismart que nunca deixem de ir atrás dos seus sonhos!</p>
                <blockquote class="blockquote__simple blockquote__white">Ao constatarmos que a tecnologia digital é uma realidade e vem provocando grandes transformações na sociedade, introduzimos a educação a distância ao nosso modelo, o que tem permitido ampliar a capacidade de atender jovens talentos, além do limite físico. </blockquote>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="gallery">
            <div class="row">
                <div class="col-md-3 offset-md-3">
                    <div class="gallery__item">
                        <img src="assets/images/signature.png" alt="" class="img-fluid">
                        <p>Claudio de Moura Castro</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery__item">
                        <img src="assets/images/signature.png" alt="" class="img-fluid">
                        <p>Juan Manuel Vergara Galvis</p>
                    </div>
                </div>
                <div class="col-md-3 offset-md-3">
                    <div class="gallery__item">
                        <img src="assets/images/signature.png" alt="" class="img-fluid">
                        <p>Marcel Herrmann Telles</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery__item">
                        <img src="assets/images/signature.png" alt="" class="img-fluid">
                        <p>Vicente Falconi Campos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<div class="container">
    <hr>
</div>