<app-chapter-hat
    [data]="chapterHatInfo"></app-chapter-hat>
<article 
    #article
    class="chapter-content">
    <app-float-container
        [startPosEl]="article"
        [endPosEl]="testimonialComponent.nativeElement"
        fixOffset="240"
        [child]="sidebarComponent.nativeElement">
        <app-sidebar #sidebar></app-sidebar>
        <app-share></app-share>
    </app-float-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <span class="tag">Seleção</span>
                <h2 class="chapter-content__title">Porta de entrada para o desenvolvimento</h2>
                <h3 class="chapter-content__subtitle">Segundo Juliana Silva, gerente de Seleção, etapa está alinhada à visão do Instituto</h3>
                <p>O processo seletivo é a forma de acesso aos projetos, o momento em que se identifica o jovem talento. A seleção tem como foco dar oportunidade a alunos de baixa renda com altas habilidades, que se desenvolvam e conquistem posições de destaque no mercado de trabalho. Por isso, o Instituto, nos últimos 20 anos, desenvolveu e aprimorou o processo de reconhecimento do potencial dos candidatos a uma vaga nos projetos Alicerce, Bolsa Talento e Ismart Online.</p>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-5">
                <div class="img__container">
                    <img src="assets/images/fernanda-trajetoria.jpg" alt="">  
                </div>
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt="">Fernanda de Oliveira Pereira (Projeto Alicerce - São José dos Campos)</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>Para participar do processo seletivo, o aluno precisa vir de família com renda per capita de até dois salários mínimos, nunca ter sido reprovado e atender aos critérios de idade e ano escolar. O candidato ao projeto Alicerce deve estar matriculado no 7º ano e ter no máximo 13 anos e, para o Bolsa Talento, ter no máximo 15 anos e estar matriculado no 9º ano. Para os alunos do 7º ano, o Ismart oferece vagas no projeto Alicerce, cursinho preparatório para o ensino médio de dois anos de duração, cujas aulas ocorrem no contraturno da escola formal. Já os estudantes do 9º ano aprovados no processo seletivo têm bolsa para cursar o ensino médio nas escolas particulares parceiras do Ismart.</p>
                <p>Na seleção, são avaliados o desempenho acadêmico, a capacidade de aprendizagem e aspectos compor-tamentais. Essa análise é fundamental para a avaliação da aptidão do aluno para ter sucesso ao longo dos projetos oferecidos pelos Ismart.</p>
                <p>A seleção é composta por cinco fases, todas eliminatórias. As duas primeiras procuram mensurar os conhe-cimentos acadêmicos e o potencial de aprendizagem dos inscritos; as outras três têm o objetivo de identificar as competências socioemocionais.</p>
                <h3 class="chapter-content__title--section">Fases da seleção</h3>
                <ul class="list">
                    <li>1ª FASE: teste on-line, com questões de múltipla escolha de Português e Matemática.</li>
                    <li>2ª FASE: prova presencial, com questões de múltipla escolha de Português, Matemática e outros temas que procuram avaliar o potencial de aprendizagem.</li>
                    <li>3ª FASE: entrevista individual, na qual se procura reconhecer o interesse do candidato em tornar-se bolsista. A entrevista também avalia a capacidade de superar desafios e as competências socioemocionais.</li>
                    <li>4ª FASE: visita domiciliar, realizada por um profissional do Ismart, para conhecer o ambiente e a família do candidato.</li>
                    <li>5ª FASE: dinâmica de grupo, com atividades para verificar características comportamentais, como habilidade de comunicação, criatividade e socialização.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-5">
                <div class="img__container">
                    <img src="assets/images/itamize-trajetorias.jpg" alt="">  
                </div>
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt="">Itamize Oliveira (Graduada Ismart)</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>Os alunos que se destacaram no processo seletivo, mas não ingressaram nos projetos presenciais, ganham acesso ao Ismart Online – uma plataforma de estudos online, em que realizam atividades em equipe e participam de workshops de formação.</p>
                <p>Em 2018, 1.288 novos alunos ingressaram nos projetos presenciais e on-line. “A seleção é a forma de ingresso para os projetos oferecidos pelo Instituto; então essa escolha dará, de certa forma, o tom para o atendimento ou não da nossa visão (bolsistas no mercado de trabalho em posição de destaque)”, explica Juliana Silva,gerente de Seleção, área responsável pelo processo seletivo do Ismart.</p>
                <p>Além disso, o Instituto conta com a parceria da rede pública de ensino – os grandes parceiros na divulgação e no apoio aos candidatos. Os educadores de escolas públicas são valiosos e ajudam a identificar jovens com o perfil Ismart. Por isso, há contatos ao longo de todo o ano com os educadores, tanto por meio de visitas às secretarias e às diretorias, quanto por envio de informativos periódicos. Adicionalmente, uma vez por ano, há encontros de formação e reconhecimento com educadores em São Paulo, no Rio de Janeiro e em Belo Horizonte. O objetivo é apresentar o Ismart, orientar sobre o processo seletivo, capacitar sobre altas habilidades e reconhecer os professores que se engajam com o Instituto e contribuem com a seleção de alunos talentosos.</p>
                <blockquote class="blockquote__big">“A seleção é a forma de ingresso para os projetos oferecidos pelo Instituto; então essa escolha dará, de certa forma, o tom para o atendimento ou não da nossa visão (bolsistas no mercado de trabalho em posição de destaque)”
                <cite>Juliana silva | Gerente de Seleção do Ismart</cite>
                </blockquote>
                <p>Por sua relevância, o contato com educadores da rede pública é uma das ações do programa Deixe sua Marca, criado em 2014 e que busca o engajamento dos professores e o reconhecimento do trabalho desenvolvido por eles. Essa parceria envolve a realização de eventos e premiações como o título de Embaixador Ismart. O professor-embaixador atua como formador de opinião e de divulgador, não só do processo seletivo, mas da Instituição como um todo. Além de identificar alunos talentosos e prepará-los para concorrer à oportunidade do Ismart, esses parceiros apresentam o projeto aos demais professores, coordenadores e diretores da rede pública de ensino.</p>
            </div>
        </div>
    </div>
</article>
<app-testimonials
    [data]="testimonials.getByPage('selecao')"
	#testimonial
	(onTestimonialCardClick)="modal.openModal()">
</app-testimonials>
<app-related [relatedData]="relatedInfo"></app-related>
<app-modal
	#modal
	[testimonial]="testimonials.current"
	(onPrev)="testimonials.navigatePrev('selecao')"
	(onNext)="testimonials.navigateNext('selecao')">
</app-modal>