<section class="chapters">
	<div class="container">
		<div class="header__chapters--top">
			<h3 class="chapters__title">Capítulos</h3>
			<button type="button" class="btn chapters__hide" aria-label="Fechar" (click)="fecharModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="row no-gutters chapters__list">
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							01.
						</span>
						<h4 class="chapters__item--title">
							Mensagem do conselho
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							02.
						</span>
						<h4 class="chapters__item--title">
							Missão, visão e crenças
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							03.
						</span>
						<h4 class="chapters__item--title">
							Linha do tempo
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							Contato
						</h4>
					</div>
				</a>
			</div>

			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							Seleção
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							Prática
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							Suporte
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							Internacional
						</h4>
					</div>
				</a>
			</div>

			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							EAD
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							Universidade
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							04. Trajetórias Ismart
						</span>
						<h4 class="chapters__item--title">
							Alumni
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							05.
						</span>
						<h4 class="chapters__item--title">
							Parceiros Ismart
						</h4>
					</div>
				</a>
			</div>


			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							06.
						</span>
						<h4 class="chapters__item--title">
							Horizonte
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							07.
						</span>
						<h4 class="chapters__item--title">
							Manifesto Ismart
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							08.
						</span>
						<h4 class="chapters__item--title">
							Resultados 2018
						</h4>
					</div>
				</a>
			</div>
			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							09.
						</span>
						<h4 class="chapters__item--title">
							Lista de parceiros
						</h4>
					</div>
				</a>
			</div>

			<div class="col-12 col-md-3 chapters__item">
				<a [routerLink]="['/chapter-intern-simple']">
					<figure class="chapters__item--figure">
						<img src="assets/images/card.jpg" alt="" class="chapters__item--image">
					</figure>
					<div class="chapters__item--content">
						<span class="chapters__item--number">
							10.
						</span>
						<h4 class="chapters__item--title">
							Expediente
						</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>