<app-chapter-hat
    [data]="chapterHatInfo"></app-chapter-hat>
<article class="chapter-content">
    <div
        #floatContainer 
        class="fix-scroll" 
        [class.fixed]="isFloatContainerFixed">
        <ul 
            class="share">
            <li class="share--item">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://google.com" target="_blank" class="share--link">
                    <i class="fa fa-facebook-f"></i>
                </a>
            </li>
            <li class="share--item">
                <a href="#" class="share--link">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="share--item">
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://google.com&title=Mensagem%20do%20Conselho&source=Ismart" target="_blank" class="share--link">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
        <!-- Sidebar -->
        <app-sidebar></app-sidebar>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <span class="tag">Universidade</span>
                <h2 class="chapter-content__title">Programa impulsiona o desenvolvimento de universitários</h2>
                <h3 class="chapter-content__subtitle">Durante a graduação, os universitários da rede Ismart ampliam seu desenvolvimento com novas experiências</h3>
                <p>O Programa de Desenvolvimento de Universitários é uma das principais iniciativas implantadas ao longo dos 20 anos de história do Ismart. Lançado em 2014, oferece uma série de atividades durante todo o período da graduação com o objetivo de complementar a formação acadêmica recebida pelos alunos nas universidades em que estudam. Ele foi elaborado para que os estudantes assistidos pelo Instituto pudessem enfrentar os desafios de cada fase da graduação, aprimorando as habilidades socioemocionais, adquirindo experiências e conhecimentos, fornecendo ferramentas para que possam conquistar posições de destaque no mercado de trabalho e é conduzido pelo time do ensino superior em parceria com profissionais do mercado.</p>
                <p>Os universitários têm acesso às informações sobre as atividades dos programas por meio de uma plataforma on-line que conecta os alunos que estão no Brasil e também com aqueles que fazem a graduação no exterior.</p>
                <p>Para garantir o suporte integral e viabilizar o foco do aluno na graduação, cada universitário bolsista recebe, do Ismart, auxílio financeiro destinado ao custeio dos principais gastos da graduação, como moradia, alimentação, transporte e material escolar. Semestralmente os universitários fazem a solicitação da bolsa por meio do preenchimento de um relatório on-line em que optam por 25% a 125% de um salário mínimo, de acordo com a projeção do valor médio dos seus gastos mensais com a graduação.</p>
                <p>“O Ismart passou por grandes transformações nos últimos anos e percebo que os resultados demonstram o quanto o Instituto investiu em equipe, processos e parcerias. O programa de desenvolvimento de universitários foi um dos que mais amadureceu. Os universitários atualmente tem um leque grande de ferramentas à sua disposição para alcançarem uma formação de excelência e que os deixem bem posicionados no mercado de trabalho”, explica Celina Seara da Costa Pinto, gerente das praças Rio de Janeiro e Belo Horizonte.</p>
                <div class="blue__content">
                    <h3 class="chapter-content__title--section">Jornada da Formação</h3>
                    <p>Dedicado aos calouros, o programa Jornada da Formação foi concebido para quem acabou de entrar em uma faculdade, considerando que, muitas vezes, são os primeiros membros da família a ter a oportunidade de realizar uma graduação. Daí a importância de proporcionar atividades presenciais e on-line, conduzidas por profissionais e parceiros. Segundo Beatriz Mantelato, gerente do ensino superior, as atividades foram desenhadas para que, ao final desse primeiro ano, os alunos consigam ter uma primeira versão de um plano com objetivos destacados por eles ao longo da graduação.</p>
                    <p><strong>1. O chamado à jornada:</strong> Workshop presencial para discussão sobre a formação profissional e aspectos relevantes para o planejamento da vida universitária por meio da utilização de ferramentas que podem auxiliar nesse processo.</p>
                    <p><strong>2.Conhecendo a travessia:</strong> Pesquisa dos recursos que a faculdade e outras instituições oferecem para auxiliar na escolha de experiências.</p>
                    <p><strong>3. Encontro com o líder:</strong> Atendimento individual com profissional especializado para discutir a escolha do objetivo profissional e da distribuição das atividades a serem realizadas em cada um dos anos da graduação, por meio da elaboração de um plano de formação.</p>
                    <p><strong>4. Aprendizado em ação:</strong> Revisão do plano de formação, de acordo com os pontos levantados na discussão com o profissional.</p>
                    <p><strong>5. Elevator pitch:</strong> Apresentação pessoal do plano de formação.</p>
                    <p><strong>6. Comprometimento com a mudança:</strong> Revisão do plano de formação</p>
                </div>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-0">
                <img src="assets/images/gabrielli-trajetorias.png" alt="">
                <div class="container">
                    <blockquote class="blockquote__image blockquote__quote">“Durante o processo seletivo, a entrevista individual com a psicóloga foi a que mais me marcou porque naquele momento, fui exposta pela primeira vez ao questionamento de por que uma bolsa de estudos seria relevante para minha vida.”
                    <cite>Gabrielli Fonseca de Oliveira, 18, Ex-Ismart</cite>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <h3 class="chapter-content__title--section">Coaching</h3>
                <p>No segundo ano da graduação, os bolsistas têm acesso ao coaching, uma atividade que os ajuda a superar desafios ligados à sua formação profissional. Realizado em caráter experimental em 2013, ele foi incorporado ao Programa de Desenvolvimento de Universitários no ano seguinte, com o propósito de oferecer ferramentas para que os estudantes possam tomar decisões com base em escolhas conscientes e alinhadas aos seus objetivos pessoais e profissionais. Desde que foi criado, o programa já atendeu 334 universitários.</p>
                <p>“O importante nessa atividade é que o aluno desenvolva o autoconhecimento, ou seja, que ele consiga identificar os pontos fortes de sua personalidade, que o ajudarão a superar os desafios e identificar os aspectos que precisam ser aprimorados. Além disso, ele elabora um plano de ação e execução para lidar com o desafio inicial e, por meio das ferramentas e exercícios de reflexão propostos pelo coach, se torna mais preparado para tomar decisões”, explica Beatriz Mantelato. Ao todo, 15 profissionais especializados atuam como orientadores.</p>
                <h3 class="chapter-content__title--section">Mentoria</h3>
                <p>Quando o aluno Ismart chega ao terceiro ano de graduação, já vivenciou experiências que possibilitam traçar o caminho que deseja seguir na carreira. Ele já tem um repertório maior para a tomada de decisões. É nesse momento que tem acesso à Mentoria, programa já consolidado no Ismart que foi lançado em 2007 em parceria com a Fundação Estudar e aprimorado ao longo dos anos, sendo atualmente um programa que serve de referência dentro e fora do Instituto. “Várias organizações nos procuram para compartilhar os conhecimentos da Mentoria, o que nos indica que estamos no caminho certo”, relata Beatriz Mantelato.</p>
                <p>O objetivo do programa é auxiliar o bolsista no desenvolvimento de carreira por meio da interação com profissionais de excelência e da construção de uma rede de relacionamentos na área de interesse. A iniciativa, que busca promover a ampliação de perspectivas, conhecimentos e acessos à rede de contatos, tem duração de dez meses, nos quais ocorrem dez encontros com profissionais experientes do mercado de trabalho.</p>
                <p>A base de mentores é formada por parceiros que atuam em várias áreas com interesse em compartilhar seus conhecimentos adquiridos. Muitos deles se inspiram com a trajetória dos alunos e veem no projeto uma forma de orientar ou mesmo inspirar a nova geração. Há também um grupo de mentores formado pelos antigos bolsistas que buscam, dessa forma, retribuir e orientar os colegas. “Nosso grande sonho é aumentar essa base de ex-bolsistas como mentores. Estamos trabalhando nesse propósito”, revela Beatriz.</p>
                <blockquote class="blockquote__quote blockquote__white">“Várias organizações nos procuram para compartilhar os conhecimentos da Mentoria, o que nos indica que estamos no caminho certo”
                <cite>Beatriz Mantelato, gerente do ensino superior do Ismart</cite>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-0">
                <img src="assets/images/familia-lombello.jpg" alt="">  
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt=""> Família Lombello: Os irmãos gêmeos Victor e Gustavo, a irmã Giulia - alunos Projeto Alicerce, acompanhados da mãe, Sandra - São José dos Campos</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <h3 class="chapter-content__title--section">Você no mercado</h3>
                <p>No âmbito do programa dedicado aos universitários, também com o objetivo de preparar os bolsistas para ingressar no mercado de trabalho, o Ismart criou, em 2015, o programa Você no Mercado. A partir do segundo ano da graduação, de olho no futuro, os alunos participam de oficinas sobre processos seletivos. Em encontros individuais com os consultores, eles têm simulações de entrevistas pessoais e recebem feedback sobre o currículo e dicas sobre dinâmicas de grupo. No terceiro ano, as atividades estão direcionadas para trilhas de carreiras, eventos com profissionais de diversas áreas que procuram ajudar o bolsista a entender a carreira escolhida. Por fim, nos últimos anos da graduação, o foco é para a preparação dos processos seletivos e no auxílio à transição para o mercado de trabalho.</p>
                <p><strong>1. Currículo de Impacto:</strong> Treinamento ressaltando a importância das experiências vivenciadas até o momento.</p>
                <p><strong>2. A hora da Entrevista:</strong> Workshop com recrutadores para entendimento do que é valorizado em cada entrevista. Simulação de entrevista com profissionais parceiros.</p>
                <p><strong>3. A hora da Dinâmica:</strong> Workshop com recrutadores para entendimento do que é valorizado em dinâmicas. Simulação de dinâmica com profissionais parceiros.</p>
                <p><strong>4. Trilhas de Carreira:</strong> Encontros com profissionais e especialistas. Acesso à divulgação de oportunidades (vagas, convites exclusivos para eventos e palestras) relacionadas à trilha de carreira de interesse.</p>
                <p><strong>5. Bate-papo – Processos Seletivos:</strong> Bate-papo com especialistas e profissionais experientes que já passaram por processos de trainee e de application para pós-graduação.</p>
                <p><strong>6. Decolar:</strong> Acesso a plataformas de preparação para processos seletivos. Divulgação de oportunidades alinhadas à trilha de carreira de interesse. Acompanhamento direcionado em processos seletivos por meio de atendimentos individuais e/ou em grupo.</p>
            </div>  
        </div>
    </div>
</article>
<!-- <app-testimonials
    [data]="testimonials.getByPage('pratica')"
	#testimonialComponent
	(onTestimonialCardClick)="modal.openModal()">
</app-testimonials> -->
<app-related [relatedData]="relatedInfo"></app-related>
<!-- <app-modal
	#modal
	[testimonial]="testimonials.current"
	(onPrev)="testimonials.navigatePrev('pratica')"
	(onNext)="testimonials.navigateNext('pratica')">
</app-modal> -->