.chapter-content {
	padding: 70px 0;
	position: relative;
	background: url('../../../assets/images/bg-arrows.svg') no-repeat center;
	background-size: cover;
	z-index: -1;
	margin: 0 auto;
	max-width: 1260px;
	padding-right: 15px;
	padding-left: 15px;
	@media (min-width: 1600px) {
		max-width: 1440px;
	}
}

.timeline {
	&__line {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 3px;
		background: var(--orange);
		bottom: 280px;
		z-index: -1;
		&::before {
			content: "";
			position: absolute;
			top: -50px;
			left: 50%;
    	transform: translateX(-50%);
			width: 88px;
			height: 88px;
			border-radius: 50%;
			background: var(--orange);
		}
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		align-items: top;
		align-content: flex-start;
		margin-bottom: 64px;
		@media (max-width: 991px) {
			&:nth-of-type(odd),
			&:nth-of-type(even) {
				margin-top: 0 !important;
			}
			> app-timeline-card {
				order: 0 !important;
				width: 100%;
				margin: 0 auto 20px !important;
				text-align: center !important;
				::ng-deep .timeline-card__icon{
					margin: 0 auto !important;
				}

				&::before,
				&::after {
					display: none;
				}
			}
			justify-content: center !important;
		}
		@media (min-width: 992px) {
			max-width: 870px;
			margin-left: auto;
			margin-right: auto;
			flex-wrap: nowrap;
		}
		@media (min-width: 1340px) {
			// padding: 0 17%;
		}
		&:nth-of-type(even) {
			justify-content: flex-end;
			> app-timeline-card {
				margin-right: 0;
				margin-left: 30px;
				text-align: left;

				::ng-deep .timeline-card__icon {
					margin-right: auto;
					margin-left: 0;
				}
			}
		}
		
		&:last-child {
			justify-content: center;
			margin-top: 0 !important;
			z-index: 1;
			> app-timeline-card {
				margin-left: 0 !important;

				&::after,
				&::before {
					right: auto;
					left: calc(50% - 3px) !important;
					transform: translateX(-50%) rotate(-45deg);
					top: 0;
					border: 8px solid black;
				}

				&::after {
					top: 1px;
					border-color: #fff #fff transparent transparent !important;
				}
	
				&::before {
					border-color: var(--orange) var(--orange) transparent transparent !important;
				}

			}
		}

		& + &:not(.timeline__item--img) {
			margin-top: -140px;
		}

		&:nth-of-type(even) {
			> app-timeline-card {
				&::after,
				&::before {
					right: auto;
					left: -10px;
				}

				&::after {
					border: 8px solid black;
					left: -8px;
					border-color: #fff transparent transparent #fff;
				}
	
				&::before {
					border: 8px solid black;
					border-color: #e6e9ef transparent transparent #e6e9ef;
				}
			}
		}

		> app-timeline-card {
			margin-right: 30px;
			text-align: right;
			position: relative;

			&::after,
			&::before {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				top: 30px;
				right: -4px;
				box-sizing: border-box;
				
				transform-origin: 0 0;
				transform: rotate(-45deg);

				border-radius: 2px;
				// box-shadow: 0 12px 24px 0 rgba(48, 61, 85, 0.08);
				
				// z-index: -1;
				// outline: 1px solid #e6e9ef;
			}

			&::after {
				border: 8px solid black;
				right: -2px;
				border-color:  transparent #fff #fff transparent;
			}

			&::before {
				border: 8px solid black;
				border-color:  transparent #e6e9ef #e6e9ef transparent;
			}

			::ng-deep .timeline-card__icon {
				margin-left: auto;
			}
		}


		@media (min-width: 992px) {
			&:nth-of-type(3){
				margin-top: -220px !important;
			}
			&:nth-of-type(6){
				margin-top: -174px !important;
			}
			&:nth-of-type(8){
				margin-top: -164px !important;
			}
			&:nth-of-type(9){
				margin-top: -280px !important;
			}
			&:nth-of-type(10){
				margin-top: -270px !important;
			}
			&:nth-of-type(11){
				margin-top: -90px !important;
			}
			&:nth-of-type(12){
				margin-top: -260px !important;
			}
		}
	
	}	
}

.col-left app-timeline-card,
.col-left app-timeline-image {
	float: right;
}

.col-right app-timeline-card,
.col-right app-timeline-image {
	float: left;
}


.fix-scroll {
	position: relative;
	top: 0;
	transform: translateY(0);
	transition: top 200ms ease, transform 200ms ease;
	// max-width: 90%;
	margin: 0;
	z-index: 0;
	&.fixed {
		position: fixed;
		left: 0;
		right: 0;
		top: 20px;
		.share {
			right: 15px;
		}
		.sidebar {
			left: 15px;
		}
	}

	@media (min-width: 1300px) {
			// max-width: 80%;
	}
	@media (min-width: 1600px) {
		max-width: 1440px;
	}
}

.timeline-nav {
	position: absolute;
	left: 0;
	top: 0;
	max-width: 80px;

	&__item {
		display: block;
		color: var(--blue-m);
		font-size: 18px;
		margin-bottom: 18px;
		position: relative;
		padding-left: 20px;
		line-height: 1;
		position: relative;
		cursor: pointer;
		&--active, &:hover {
			color: var(--orange) !important;

			&:before {
				opacity: 1 !important;
			}
		}

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			min-width: 12px;
			height: 12px;
			background: url('../../../assets/images/triangle-small-orange.svg') no-repeat;
			background-size: cover;
			opacity: 0;
		}

		&:hover{
			text-decoration: none;
		}
	}

	@media ( max-width: 991px ) {
		display: none;
	}
}