<app-chapter-hat [data]="chapterHatInfo"></app-chapter-hat>

	<article
		#article
		class="chapter-content"
		progressBarListener>
		<div class="timeline__line"></div>
		<app-float-container
			[startPosEl]="article"
			[endPosEl]="article"
			[child]="nav"
			fixOffset="60"
			endOffset="-200">
			<nav
				#nav 
				class="timeline-nav">
				<a
					#navItems
					*ngFor="let navItem of timeline.content; let index = index;" 
					(click)="onItemNavClick( $event, navItem.title )"
					class="timeline-nav__item"
					[class.timeline-nav__item--active]="index === 0">
					{{ navItem.title }}
				</a>
			</nav>
			<app-share></app-share>
		</app-float-container>
		<ul class="container">
			<li
				#cards
				*ngFor="let item of timeline.content; let i = index;"
				[attr.year]="item.title"
				[ngClass]="{
					'col-12': true, 
					'timeline__item': true, 
					'timeline__item--img': !!item.image
				}">
				<app-timeline-card
					[title]="item.title"
					[icon]="item.icon"
					[excerpt]="item.excerpt"
					[style.order]="i % 2 !== 0 ? '1' : '0'"
					[last]="i + 1 === timeline.content.length">
				</app-timeline-card>
				<app-timeline-image
					*ngIf="item.image"
					[path]="item.image">
				</app-timeline-image>
			</li>
		</ul>
	</article>
	<hr class="divider">
<app-related [relatedData]="relatedInfo"></app-related>
