<app-chapter-hat
    [data]="chapterHatInfo"></app-chapter-hat>
<article class="chapter-content">
    <div
        #floatContainer 
        class="fix-scroll" 
        [class.fixed]="isFloatContainerFixed">
        <ul 
            class="share">
            <li class="share--item">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://google.com" target="_blank" class="share--link">
                    <i class="fa fa-facebook-f"></i>
                </a>
            </li>
            <li class="share--item">
                <a href="#" class="share--link">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="share--item">
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://google.com&title=Mensagem%20do%20Conselho&source=Ismart" target="_blank" class="share--link">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
        <!-- Sidebar -->
        <app-sidebar></app-sidebar>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <span class="tag">Alumni</span>
                <h2 class="chapter-content__title">Missão do Alumni é fomentar sinergia</h2>
                <h3 class="chapter-content__subtitle">Idealizador do projeto, Leonardo Coelho, destaca a colaboração criativa entre os integrantes</h3>
                <p>Etimologicamente a palavra “alumni” vem do latim “alumnus”, que significa pupilo. Assim, é uma expressão utilizada para identificar uma organização de antigos alunos. Alumni é também o termo escolhido para designar a rede de ex-bolsistas graduados do Ismart.</p>
                <p>O grupo foi criado por iniciativa de Leonardo de Castro Coelho, graduado em Direito pela Universidade Mackenzie, a partir da percepção de que era importante manter conectados todos os que fizeram parte da comunidade Ismart. “Algumas interações informais já aconteciam entre alguns graduados. Porém, sempre senti a necessidade de ampliarmos os benefícios dessa rede para um grupo ainda maior e de forma institucionalizada”, afirma Leonardo.</p>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img">
                <img src="assets/images/gabrielli-trajetorias.png" alt="">
                <div class="container">
                    <blockquote class="blockquote__image blockquote__quote">“Durante o processo seletivo, a entrevista individual com a psicóloga foi a que mais me marcou porque naquele momento, fui exposta pela primeira vez ao questionamento de por que uma bolsa de estudos seria relevante para minha vida.”
                    <cite>Gabrielli Fonseca de Oliveira, 18, Ex-Ismart</cite>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>O Alumni é uma rede que busca aproximar e gerar sinergia entre o grupo de pessoas que se graduaram com o Ismart ao longo dos anos e a comunidade Ismart como um todo. “Acredito que um dos pontos fortes do projeto é termos muita coisa em comum – experiências que vivenciamos na transição entre a nossa formação acadêmica e a vida profissional são bem similares em alguns casos – ao mesmo tempo em que nossas diferenças, como áreas de atuação e convicções pessoais, são essenciais para que possamos colaborar de forma criativa uns com os outros”, completa o ex-bolsista do Ismart.</p>
                <p>Atualmente, o Alumni é um grupo vinculado institucionalmente ao Ismart, formado por profissionais que concluíram com sucesso o ciclo universitário da instituição. Determinados membros do Alumni mantêm contato frequente com o Instituto, coordenando execução de alguns projetos do grupo.</p>
                <p>Para a diretora-executiva do Ismart, Mariana Rego Monteiro, a importância do Alumni está na valorização da entidade pelos jovens que passaram pelo instituto e querem continuar contribuindo para sua ação transformadora. “São jovens engajados, que querem participar da vida do Ismart. Para nós, isso é muito importante. O grande sonho do Conselho é que um dia o mesmo seja formado por jovens do Ismart”, revela Mariana.</p>
                <blockquote class="blockquote__quote blockquote__white">“O Ismart sempre me inspirou a perseguir meus sonhos, me desafiar e querer ir além da minha zona de conforto. E eu sinto que esse será o maior legado do Instituto na minha vida.”
                <cite>Gabrielli Fonseca de Oliveira, 18, Ex-Ismart</cite>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img">
                <img src="assets/images/familia-lombello.jpg" alt="">  
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt=""> Família Lombello: Os irmãos gêmeos Victor e Gustavo, a irmã Giulia - alunos Projeto Alicerce, acompanhados da mãe, Sandra - São José dos Campos</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>Por isso, desde 2017 o Ismart abraçou o projeto ao entender que a rede de graduados estava crescendo e o grupo Alumni poderia ser inspiração para os mais novos, fortalecendo a interação entre bolsistas e ex-bolsistas. “Em 2017 realizamos uma pesquisa com 139 graduados que já estavam no mercado de trabalho. O levantamento nos mostrou como vivem os jovens bolsistas, onde trabalham e quais são os desafios que enfrentam atualmente. Até então não tínhamos acesso a esses dados, sabíamos pouca coisa sobre nossos alunos graduados”, conta Beatriz Mantelato, gerente do ensino superior do Instituto. No ano seguinte, em 2018, a pesquisa foi feita com 222 graduados, servindo como base para a elaboração de ações que possam auxiliar os exbolsistas na tomada de decisões relacionadas à carreira.</p>
                <p>Bárbara Domene, graduada em Direito pela Universidade Mackenzie e ex-mentorada pelo criador da rede, Leonardo de Castro Coelho, explica: “Eu passei a fazer parte do Alumni e compreender a importância de valorizar os graduados e manter a troca de experiências e ajuda mútua. O desafio desse grupo agora é atrair cada vez mais graduados e se manter atuante”.</p>
                
            </div>
        </div>
    </div>
</article>
<!-- <app-testimonials
    [data]="testimonials.getByPage('pratica')"
	#testimonialComponent
	(onTestimonialCardClick)="modal.openModal()">
</app-testimonials> -->
<app-related [relatedData]="relatedInfo"></app-related>
<!-- <app-modal
	#modal
	[testimonial]="testimonials.current"
	(onPrev)="testimonials.navigatePrev('pratica')"
	(onNext)="testimonials.navigateNext('pratica')">
</app-modal> -->