<app-chapter-hat
    [data]="chapterHatInfo"></app-chapter-hat>
<article 
    #article
    progressBarListener
    class="chapter-content">
    <app-float-container
        [startPosEl]="article"
        [endPosEl]="article"
        fixOffset="240"
        [child]="sidebarComponent.nativeElement">
        <app-sidebar #sidebar></app-sidebar>
        <app-share></app-share>
    </app-float-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <span class="tag">{{ 'CHAPTERS.04.8' | translate }}</span>
                <h2 class="chapter-content__title">{{ 'CHAPTER_4.8.CONTENT.TITLE' | translate }}</h2>
                <h3 class="chapter-content__subtitle">{{ 'CHAPTER_4.8.CONTENT.SUBTITLE' | translate }}</h3>
                <span [innerHTML]="'CHAPTER_4.8.CONTENT.SECTION_1' | translate"></span>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-5">
                <div class="img__container">
                    <img src="assets/images/leonardo-coelho-graduado-ismart.jpg" alt="">
                </div>
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt=""> {{ 'CHAPTER_4.8.CONTENT.SECTION_2' | translate }}</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12" [innerHTML]="'CHAPTER_4.8.CONTENT.SECTION_3' | translate">
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-5">
                <div class="img__container">
                    <img src="assets/images/barbara-domene-graduada-ismart.jpg" alt="">
                </div>
                <div class="blockquote__container container">
                    <blockquote class="blockquote__image blockquote__quote">{{ 'CHAPTER_4.8.CONTENT.SECTION_4.QUOTE' | translate }}
                    <cite>{{ 'CHAPTER_4.8.CONTENT.SECTION_4.CITE' | translate }}</cite>
                    </blockquote>
                </div>
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg">{{ 'CHAPTER_4.8.CONTENT.SECTION_4.PHOTO_DESCRIPTION' | translate }}</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12" [innerHTML]="'CHAPTER_4.8.CONTENT.SECTION_5' | translate">                
            </div>
        </div>
    </div>
</article>
<div class="container">
    <hr class="divider">
</div>
<app-related [relatedData]="relatedInfo"></app-related>