<app-chapter-hat [data]="chapterHatInfo"></app-chapter-hat>
<article 
    class="chapter-content"
    progressBarListener
    #article>
    <app-float-container
        [startPosEl]="article"
        [endPosEl]="article"
        [child]="shareComponent.nativeElement"
        fixOffset="60">
        <app-share #share></app-share>
    </app-float-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>Não existe lugar tão alto que não se possa alcançar, nem tão longe que não se possa chegar.</p>
                <p>Temos altas expectativas. Temos sonhos.</p>
                <p>Acreditamos no talento do jovem brasileiro e no poder transformador da educação.</p>
                <p>Acreditamos no mérito e no esforço individual porque tudo que é conquistado tem mais valor.</p>
                <p>Vivemos em uma sociedade desigual.</p>
                <p>Tanto potencial desperdiçado pela falta de oportunidades.</p>
                <p>Somos todos responsáveis.</p>
                <p>Eu, você, nós do Ismart.</p>
                <p>Os alunos. Seus pais.</p>
                <p> Os professores. A escola.</p>
                <p>Trabalhando em conjunto com outros agentes de transformação, identificamos talentos acadêmicos de baixa renda e oferecemos a estes jovens a oportunidade de ser mais, de sonhar mais alto, de chegar mais longe. Damos acesso à melhor educação de ensino médio para que conquistem uma vaga nas melhores universidades, desenvolvam seu pleno potencial e se tornem profissionais de sucesso em suas áreas de atuação.</p>
                <p>Para que se tornem, um dia, também eles, agentes de transformação. Motivamos e apoiamos nossos alunos na longa jornada da educação, na longa jornada da vida em busca do sucesso e da felicidade. </p>
                <p>Trabalhamos por um futuro melhor para os jovens e para o Brasil.</p>
            </div>
        </div>
    </div>
</article>
<hr class="divider">
<app-related [relatedData]="relatedInfo"></app-related>
