<app-chapter-hat [data]="chapterHatInfo"></app-chapter-hat>
<article 
    class="chapter-content"
    progressBarListener
    #article>
    <app-float-container
        [startPosEl]="article"
        [endPosEl]="article"
        [child]="shareComponent.nativeElement"
        fixOffset="60">
        <app-share #share></app-share>
    </app-float-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12" [innerHTML]="'CHAPTER_7.CONTENT.SECTION_1' | translate">
            </div>
        </div>
    </div>
</article>
<div class="container">
    <hr class="divider">
</div>
<app-related [relatedData]="relatedInfo"></app-related>
