<div class="sidebar">
    <div class="sidebar__title">
        <p>04</p>
        <h5>Trajetórias Ismart</h5>
    </div>
    <ul class="sidebar__body">
        <li class="sidebar__item" routerLinkActive="sidebar__item--active">
            <a [routerLink]="['/04-trajetorias-ismart-contato']" class="sidebar__link">Contato</a>
        </li>
        <li class="sidebar__item" routerLinkActive="sidebar__item--active">
            <a [routerLink]="['/04-trajetorias-ismart-selecao']" class="sidebar__link">Seleção</a>
        </li>
        <li class="sidebar__item" routerLinkActive="sidebar__item--active">
            <a [routerLink]="['/04-trajetorias-ismart-praticas']" class="sidebar__link">Prática</a>
        </li>
        <li class="sidebar__item" routerLinkActive="sidebar__item--active">
            <a [routerLink]="['/home']" class="sidebar__link">Suporte</a>
        </li>
        <li class="sidebar__item" routerLinkActive="sidebar__item--active">
            <a [routerLink]="['/home']" class="sidebar__link">Internacional</a>
        </li>
        <li class="sidebar__item" routerLinkActive="sidebar__item--active">
            <a [routerLink]="['/home']" class="sidebar__link">EaD</a>
        </li>
        <li class="sidebar__item" routerLinkActive="sidebar__item--active">
            <a [routerLink]="['/home']" class="sidebar__link">Universidade</a>
        </li>
        <li class="sidebar__item" routerLinkActive="sidebar__item--active">
            <a [routerLink]="['/home']" class="sidebar__link">Alumni</a>
        </li>
    </ul>
</div>