<app-chapter-hat
    [data]="chapterHatInfo"></app-chapter-hat>
<article 
    #article
    progressBarListener
    class="chapter-content">
    <app-float-container
        [startPosEl]="article"
        [endPosEl]="testimonialComponent.nativeElement"
        fixOffset="240"
        [child]="sidebarComponent.nativeElement">
        <app-sidebar #sidebar></app-sidebar>
        <app-share></app-share>
    </app-float-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <span class="tag">Prática</span>
                <h2 class="chapter-content__title">Desempenho acadêmico destaca bolsista</h2>
                <h3 class="chapter-content__subtitle">A partir da observação das discrepâncias escolares, Gabrielli passou a refletir sobre as desigualdades</h3>
                <p>Se os bons exemplos têm efeito multiplicador, a história de Gabrielli Fonseca de Oliveira, de 18 anos, poderia muito bem ser fonte de inspiração e incentivo para outros jovens talentos. A jovem cresceu na zona leste de São Paulo e era aluna do 6º ano da Escola Estadual Almirante Custódio José de Mello, na Vila Granada, quando conheceu o Ismart. “A coordenadora da minha escola inscreveu os alunos mais dedicados da minha classe”, conta a garota de rosto suave, mas decidido.</p>
                <p>Ela lembra que foi preciso muita garra e determinação para superar os obstáculos desse desafio. “Entrei no Ismart pelo Ismart Online. Durante o processo seletivo, a entrevista individual com a psicóloga foi a que mais me marcou porque, naquele momento, fui exposta pela primeira vez ao questionamento de por que uma bolsa de estudos seria relevante para minha vida.” Gabrielli reconhece a falta de maturidade aos 12 anos, ao conhecer o Ismart; foi o tempo que a fez perceber que uma chance como aquela poderia mudar sua visão de mundo, torná-la protagonista da própria história, independentemente dos padrões socioeconômicos. Assim, após o primeiro ano participando do Ismart Online, obtendo bons resultados e registrando forte engajamento, foi transferida para o Projeto Alicerce como bolsista presencial no Bandeirantes.</p>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-5">
                <div class="img__container">
                    <img src="assets/images/gabrielli-trajetorias.png" alt="">
                </div>
                <div class="container">
                    <blockquote class="blockquote__image blockquote__quote">“Durante o processo seletivo, a entrevista individual com a psicóloga foi a que mais me marcou porque naquele momento, fui exposta pela primeira vez ao questionamento de por que uma bolsa de estudos seria relevante para minha vida.”
                    <cite>Gabrielli Fonseca de Oliveira, 18, Ex-Ismart</cite>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>O primeiro contato com a nova realidade desconhecida não abalou a convicção da menina de que tudo aquilo traria bons resultados no futuro, nem mesmo a ansiedade ou a surpresa com a estrutura de um novo colégio como o Bandeirantes. “Foi uma experiência que, antes de mais nada, contribuiu para o meu crescimento pessoal. Observar pontos tão discrepantes na estrutura de ensino e no núcleo social me fez refletir sobre a desigualdade do País e minha posição privilegiada. Isso me fez valorizar mais as oportunidades e ter consciência de que preciso retribuir todo suporte que recebi durante essa jornada.”</p>
                <p>No Bandeirantes, Gabrielli foi uma das melhores alunas da sua turma, com ótimo desempenho acadêmico. Mais do que isso, destacou-se pelas atitudes solidárias. Ao longo da jornada com o Ismart, participou de projetos desenvolvidos como Aluno Tutor e Uma Mão Lava a Outra, que desen-volveram competências fundamentais como a de trabalho colaborativo e comunicação, complementando as ex-periências vividas no Instituto.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <div class="blue__content">
                    <h3 class="chapter-content__title--section">Estímulo à solidariedade</h3>
                    <p>Tanto o Aluno Tutor como o Uma Mão Lava a Outra estimulam os alunos a se tornarem agentes multiplicadores para, assim, fortalecer ainda mais a comunidade Ismart. Por meio do Aluno Tutor, o aluno novato recebe a ajuda de um bolsista mais velho que irá lhe auxiliar a entender o “jeito Ismart de ser”. Juntos, eles podem trocar experiências sobre os estudos, formar uma rede de contato na comunidade e desenvolver habilidades como falar em público e cooperação.</p>
                    <p>Já no Uma Mão Lava a Outra, os bolsistas se ajudam mutuamente com aulas de reforço em matérias específicas ou com aulas temáticas em assuntos que lhes interessam. Dessa forma, estimula-se o convívio e a troca entre alunos de diferentes escolas e projetos. </p>
                    <p>Já a Liga do Futuro, formada por bolsistas, contempla várias atividades voluntárias com a proposta de trocar conhecimentos e fortalecer a conexão entre os alunos. Em 2018, foram mais de 500 bolsistas engajados na #Conquista 10, projeto que faz parte da Liga do Futuro e que tem como missão divulgar o processo seletivo na rede pública de ensino, trazendo mais candidatos para o processo seletivo do Ismart. Os alunos participantes da atividade ganham pontos (chamados de ligabytes) por escola visitada, que podem ser trocados por prêmios.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>Segundo Gabrielli, todas as oportunidades no Ismart fizeram com que ela pudesse enfrentar situações inoportunas de forma resiliente e mais assertiva. “Não importava o contexto, se era um evento do Ismart Online, uma roda de conversa ou qualquer outro momento, o Ismart sempre me inspirou a perseguir meus sonhos, me desafiar e querer ir além da minha zona de conforto. E eu sinto que esse será o maior legado do Instituto na minha vida”. É por isso que Gabrielli diz que se antes era uma aprendiz em estágio inicial, que não sabia muito o que queria, depois de viver a experiência é uma sonhadora, consciente de seu papel na sociedade.</p>
                <p>A mais nova estudante de Farmácia da Universidade de São Paulo (USP) pretende ser pesquisadora de biotec-nologia. “Eu me enxergo em laboratórios e atuando em projetos sociais.”</p>
                <blockquote class="blockquote__quote blockquote__white"><span>“O Ismart sempre me inspirou a perseguir meus sonhos, me desafiar e querer ir além da minha zona de conforto. E eu sinto que esse será o maior legado do Instituto na minha vida.”</span>
                <cite>Gabrielli Fonseca de Oliveira, 18, Ex-Ismart</cite>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img">
                <div class="img__container">
                    <img src="assets/images/familia-lombello.jpg" alt="">  
                </div>
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt=""> Família Lombello: Os irmãos gêmeos Victor e Gustavo, a irmã Giulia - alunos Projeto Alicerce, acompanhados da mãe, Sandra - São José dos Campos</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <h3 class="chapter-content__title--section">Estímulo</h3>
                <p>A família tem papel fundamental na integração do bolsista à nova realidade. Ela deve abraçar a parceria com o projeto, participando e incen-tivando os filhos a encarar os desafios e a sonhar grande. Isso acontece com a criação de um ambiente favorável aos estudos, a participação nas atividades organizadas ou propostas pela equipe de desenvolvimento dos estudantes, em reuniões e rodas de conversa.</p>
                <p>Sandra Regina Lombello é mãe de Giulia, Vitor e Gustavo e acompanha de perto o desenvolvimento intelec-tual dos filhos desde que foram sele-cionados como bolsistas do Ismart. “Participei de uma reunião na escola deles, o Colégio Poliedro, em São José dos Campos, e tive conhecimento das propostas do Instituto, me agradaram bastante. O maior impacto é saber que tenho três filhos estudando em uma escola renomada, na qual eu não teria condições de arcar com as mensalidades. Tenho muita gratidão por tudo que o Ismart proporcionou e proporcionará na vida dos meus filhos e, consequentemente, na minha.” </p>
                <blockquote class="blockquote__big">“...Tenho muita gratidão por tudo que o Ismart proporcionou e proporcionará na vida dos meus filhos...”
                <cite>Sandra Regina Lombello | Mãe de alunos do Ismart</cite>
                </blockquote>
            </div>  
        </div>
    </div>
</article>
<app-testimonials
    [data]="testimonials.getByPage('pratica')"
	#testimonial
	(onTestimonialCardClick)="modal.openModal()">
</app-testimonials>
<app-related [relatedData]="relatedInfo"></app-related>
<app-modal
	#modal
	[testimonial]="testimonials.current"
	(onPrev)="testimonials.navigatePrev('pratica')"
	(onNext)="testimonials.navigateNext('pratica')">
</app-modal>