<section class="testimonials">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <h3 class="testimonials__title">Testemunhos</h3>
                <ngx-slick-carousel class="testimonials__carousel" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig">
                    <div 
                        ngxSlickItem 
                        *ngFor="let slide of slides" 
                        class="testimonials__single"
                        (click)="onTestimonialClick(slide)">
                        <figure class="testimonials__img">
                            <img [src]="slide.photo" [alt]="slide.name">
                        </figure>
                        <h4 class="testimonials__name">{{ slide.name }}</h4>
                        <p class="testimonials__about">{{ slide.excerpt }}</p>
                        <a href="" data-toggle="modal" data-target="#exampleModal" class="testimonials__link">Ver depoimento</a>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>