/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

body{
	font-family: $lato;
}

.container{
	width: 100%;
	max-width: 1260px;
}

// Additional CSS
.header {
	&.menu {
		&__open .menu {
			visibility: visible;
		}
		&__close .menu {
			visibility: hidden;
			right: -350px;
		}
	}
	&__chapters {
		.header__chapters--top {
			display: flex;
			align-items: center;
			.chapters__title {
				font-size: 56px;
				text-align: left;
				text-transform: capitalize;
			}
			.chapters__hide {
				display: block;
				width: 42px;
				height: 42px;
				border: solid 1px #fff;
				border-radius: 50%;
				color: #fff;
				font-size: 30px;
				line-height: 0;
				padding: 0;
				margin-left: 30px;
			}
		}
	}
}
.testimonials {
	.slick-track {
		padding: 15px 0;
		margin-left: 0;
		display: flex;
	}
	.slick-list {
		padding-right: 50px;
	}
	.slick-arrow {
		position: absolute;
		bottom: 0;
		display: flex;
		border: solid 1px $blue-medium;
		border-radius: 50%;
		width: 42px;
		height: 42px;
		justify-content: center;
	}
	.slick-next {
		left: 55px;
		transform: rotate(180deg);
	}
	&__dark .slick-arrow {
		border-color: $clear;
		img {
			filter: brightness(0) invert(1);
		}
    }
}
.fix-scroll {
	max-width: 1260px;
	&.fixed {
		.share {
			right: 15px;
		}
		.sidebar {
			left: 10px;
		}
	}
	@media (max-width: 1300px) {
		&.fixed {
			.sidebar {
				left: 40px;
			}
		}
	}
}
@media (max-width: 768px) {
	.modal {
		.modal-content {
			padding: 55px 30px 45px 30px;
		}
	}
}

@media (max-width: 320px ) {
	.testimonials {
		.slick-list {
			padding-right: 20px;
		}
	}
}

@media (max-width: 540px) {
	.testimonials {

		.slick-track {
			margin-left: auto;
		}
	}
	.header__chapters .header__chapters--top .chapters__title {
		font-size: 24px;
		line-height: 1.17;
	}
	.header__button--chapters {
		margin-right: 15px;
	}
	.header__chapters .header__chapters--top .chapters__hide {
		width: 30px;
		height: 30px;
		font-size: 20px;
		margin-left: 15px;
	}
}

@media (min-width: 1320px) {
	.testimonials {
		.slick-list {
			padding-right: 110px;
		}
	}
}

@media (min-width: 1500px) {
	.testimonials {
		.slick-list {
			padding-right: 30%;
		}
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1440px;
	}
}