// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

$lato: 			'Lato', Arial, Verdana;
$montserrat	: 	'Montserrat', Arial, Verdana;

// Colors
$clear:     	#ffffff;
$dark:      	#000000;
$grey:			#b7c1d2;
$blue-clear:	#d4effc;
$blue: 			#028ed4;
$blue-medium: 	#012461;
$blue-dark: 	#202734;
$orange:		#f2665e;


:root {
	--orange: #f2665e;
	--blue-m: #012461;
	--blue-l: #028ed4;
	--blue-ll: #00bdf2;
	--green: #ebeb70;
	--grey-l: #b7c1d2;
	--font-lato: 'Lato', sans-serif;
	--font-montserrat: 'Montserrat', sans-serif;
}