<app-chapter-hat
    [data]="chapterHatInfo"></app-chapter-hat>
<article 
    #article
    class="chapter-content">
    <app-float-container
        [startPosEl]="article"
        [endPosEl]="testimonialComponent.nativeElement"
        fixOffset="240"
        [child]="sidebarComponent.nativeElement">
        <app-sidebar #sidebar></app-sidebar>
        <app-share></app-share>
    </app-float-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <span class="tag">EaD</span>
                <h2 class="chapter-content__title">Ismart Online une tecnologia e oportunidade de expansão</h2>
                <h3 class="chapter-content__subtitle"><strong>Beatriz Mantelato,</strong> que participou do início do programa, diz que a motivação foi ampliar o número de oportunidades oferecidas pelo Instituto</h3>
                <p>A perspectiva de atingir um público maior e desenvolver mais alunos talentosos levou o Ismart a criar, em 2014, uma plataforma on-line com conteúdos exclusivos para o bolsista. O Instituto decidiu apostar na tecnologia como uma maneira de ampliar as oportunidades para que mais jovens pudessem ter acesso aos seus projetos.</p>
                <p>Beatriz Mantelato, atualmente gerente do ensino superior e que foi responsável pela implantação do Ismart Online, conta que o projeto surgiu quando o Instituto “identificou a possibilidade de ter uma experiência com tecnologia para educação, uma vez que a tendência vinha para ficar e o Ismart não tinha vivência em educação a distância”.</p>
                <p>O Ismart Online representa, portanto, um grande avanço nesses 20 anos de história do Instituto. A implantação de cursos a distância permitiu romper os limites físicos de atendimento, ampliando a oportunidade aos que demonstraram alto potencial no processo seletivo. Além disso, constatou-se que era uma forma viável de expandir a atuação do Ismart a um custo mais baixo. Foram seis meses de planejamento, elaboração da metodologia, processo seletivo, implementação da plataforma, prospecção de parceiros e negociação com investidores. “Lançamos o Ismart Online em março de 2014, com uma turma de 186 alunos”.</p>
                <p>Passados cinco anos, a primeira turma que entrou no Ismart Online está se formando com bons resultados: dos 38 alunos do on-line, 18 passaram em faculdades de excelência, segundo revela Mariana Rego Monteiro, diretora-executiva do Instituto. “Com uma equipe enxuta, de seis pessoas, o Ismart Online hoje atende mais de 1.400 alunos das cidades de São Paulo, do Rio de Janeiro, de Belo Horizonte e de São José dos Campos. É uma opção concreta para ampliar nosso trabalho."</p>
                <p>No sistema a distância, os alunos têm acesso a ferramentas para melhorar o desempenho tanto no ensino fundamental como no ensino médio, com atividades em equipe e workshops para o desenvolvimento de competências para o século 21. O programa está dividido em dois módulos. Um é dedicado a aulas de reforço de português e matemática, além de um módulo de redação que prepara os bolsistas para a prova de redação do Exame Nacional do ensino médio (Enem). As redações são corrigidas e comentadas para que, com orientação especializada, os alunos possam reescrevê-las e melhorar o desempenho.</p>
                
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-5">
                <div class="img__container">
                    <img src="assets/images/miguel-angelo-celestino-da-silva.jpg" alt="">
                </div>
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt="">Miguel Angelo Celestino da Silva Projeto Ismart Online - Belo Horizonte </figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>Os bolsistas encontram ainda conteúdo com uma linguagem mais leve, que busca trabalhar aspectos ligados à autonomia, à inspiração, à motivação e à persistência. É o módulo de cultura, que tem como objetivo difundir as crenças e o “jeito de ser do Ismart”. Nele, são incluídas propostas de projetos individuais e em equipe, a partir de conteúdos que estão na plataforma.</p>
                <p>A proposta do Ismart Online, segundo Mariana, é oferecer ensino híbrido, ou seja, apesar de basear-se em uma plataforma na internet, o programa prevê quatro encontros presenciais ao longo do ano, nos quais estudantes e famílias participam de formações em que se busca desenvolvimento, integração e aproximação com o trabalho desenvolvido com todos os bolsistas.</p>
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img mb-5">
                <div class="img__container">
                    <img src="assets/images/fabricio-neri-lima-e-layne-pereira-da-silva.jpg" alt="">
                </div>
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt=""> Fabrício Neri Lima e Layne Pereira da Silva Projeto Ismart Online - São Paulo</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>A plataforma permite que o aluno estude sozinho, realize simulados, tire dúvidas com monitores, participe de projetos que ampliam o seu conhecimento sobre orientação profissional e vestibulares. Os estudantes também contam com o auxílio de um tutor para desenvolver as atividades e organizar a rotina de estudos.</p>
                <p>Larissa Fabião prestou processo seletivo do Ismart pela primeira vez, em 2013, chegando à quarta etapa (visita domiciliar), mas foi desclassificada. A surpresa ficou por conta do convite inesperado: fazer parte da primeira turma do Ismart Online. “Pensei: por que não? Decidi agarrar a oportunidade e aproveitar ao máximo. Achei que poderia fazer muita coisa”, lembra. E fez mesmo. Larissa manteve o excelente desempenho na escola pública e, no Ismart Online, desenvolveu em grupo um aplicativo para combater o bullying. No segundo ano do projeto, criou um jogo que tinha como pano de fundo a trajetória dela e de outros alunos.</p>
                <p>Apesar de não fazer mais parte do Ismart Online, em 2015 participou novamente do processo seletivo Ismart para o Projeto Bolsa Talento, foi aprovada e cursou o ensino médio no Colégio Poliedro. Larissa nunca cortou os laços com o projeto Ismart Online. Pelo contrário: tornou-se monitora e deu aulas de robótica para alguns alunos. “Não adianta nada estudar e não compartilhar, guardar tudo para você. Quero realizar o que gosto, aproveitar cada momento e ter experiências fantásticas, mas quero fazer tudo isso enquanto ajudo a mudar outras realidades.” Hoje, Larissa é universitária Ismart do curso de Sistema de Informação, na USP.</p>
                <h3 class="chapter-content__title--section">Linha da evolução</h3>
                <img src="assets/images/linha-da-evolucao-desk.png" alt="Linha de evolução" class="img-fluid img-desk">
                <img src="assets/images/linha-da-evolucao-mobile.png" alt="Linha de evolução" class="img-fluid img-mobile">
            </div>
        </div>
    </div>
</article>
<app-testimonials
    [data]="testimonials.getByPage('ead')"
	#testimonial
	(onTestimonialCardClick)="modal.openModal()">
</app-testimonials>
<app-related [relatedData]="relatedInfo"></app-related>
<app-modal
	#modal
	[testimonial]="testimonials.current"
	(onPrev)="testimonials.navigatePrev('ead')"
	(onNext)="testimonials.navigateNext('ead')">
</app-modal>