<app-chapter-hat
    [data]="chapterHatInfo"></app-chapter-hat>
<article class="chapter-content">
    <div
        #floatContainer 
        class="fix-scroll" 
        [class.fixed]="isFloatContainerFixed">
        <ul 
            class="share">
            <li class="share--item">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://google.com" target="_blank" class="share--link">
                    <i class="fa fa-facebook-f"></i>
                </a>
            </li>
            <li class="share--item">
                <a href="#" class="share--link">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="share--item">
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://google.com&title=Mensagem%20do%20Conselho&source=Ismart" target="_blank" class="share--link">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus at maxime inventore culpa dolor, cupiditate non nihil quisquam aliquam assumenda fugit? Reiciendis, delectus vitae officia similique praesentium natus atque quidem.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab autem eaque quam repellendus saepe libero doloremque, beatae cumque sit quis voluptatem praesentium. Minus pariatur eligendi aliquid saepe magni perspiciatis tempora? Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ex, fugiat voluptas ipsa earum corporis accusamus quidem qui debitis dolores aspernatur labore quod error natus maxime ad aliquid fuga rerum.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae magnam quasi magni incidunt obcaecati voluptates, consequatur vero expedita nostrum omnis voluptatem officia iste nemo quidem architecto ipsum natus ab eaque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt doloribus ea aliquam tempora, ex atque voluptas a amet unde repellendus magni error eum? Nobis aut temporibus assumenda nam numquam.</p>
            </div>
        </div>
    </div>
</article>