<article 
    class="chapter-content"
    #article
    progressBarListener>
    <app-float-container
        [startPosEl]="article"
        [endPosEl]="article"
        [child]="shareComponent.nativeElement"
        fixOffset="60">
        <app-share #share></app-share>
    </app-float-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12" [innerHTML]="'CHAPTER_1.CONTENT.SECTION_1' | translate">
            </div>
        </div>
        <div class="row">
            <figure class="chapter-content__img">
                <div class="img__container">
                    <img src="assets/images/familia-muliterno-giovanna-os-gemeos-jean-carlo-e-lucca-alunos-do-ismart-online-sao-paulo-acompanhados-do-pai-ramon.jpg" alt="">
                </div>
                <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <figcaption><img src="assets/images/camera.svg" alt="">{{ 'CHAPTER_1.CONTENT.SECTION_2' | translate }}</figcaption>
                </div>
            </figure>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12" [innerHTML]="'CHAPTER_1.CONTENT.SECTION_3' | translate">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="gallery">
            <div class="row">
                <div class="col-md-3 offset-md-3">
                    <div class="gallery__item">
                        <img src="assets/images/signature.png" alt="" class="img-fluid">
                        <p>Claudio de Moura Castro</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery__item">
                        <img src="assets/images/signature.png" alt="" class="img-fluid">
                        <p>Juan Manuel Vergara Galvis</p>
                    </div>
                </div>
                <div class="col-md-3 offset-md-3">
                    <div class="gallery__item">
                        <img src="assets/images/signature.png" alt="" class="img-fluid">
                        <p>Marcel Herrmann Telles</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery__item">
                        <img src="assets/images/signature.png" alt="" class="img-fluid">
                        <p>Vicente Falconi Campos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<div class="container">
    <hr>
</div>