<div class="menu">
    <button class="menu__toggle" (click)="fecharMenu()">
        <span class="menu__toggle--text">{{ 'HEADER.BUTTONS.MENU' | translate }}</span>
        <div class="menu__toggle--icon">
            <span></span>
            <span></span>
        </div>
    </button>
    <ul class="menu__list">
        <li class="menu__item">
            <a [routerLink]="['/home']" (click)="fecharMenu()">
                <img src="assets/images/logo-footer.svg" alt="" class="menu__item--brand">
            </a>
        </li>
        <li class="menu__item">
            <span class="menu__link--strong">{{ 'HEADER.EXCERPT' | translate }}</span>
        </li>
        <li class="menu__item">
            <a [routerLink]="['/home']" (click)="fecharMenu()" class="menu__link">{{ 'NAV.HOME' | translate }}</a>
        </li>
        <li class="menu__item">
            <a href="assets/RA_Completo_4outubro19.pdf" target="_blank" download class="menu__link">{{ 'NAV.DOWNLOAD_MENU' | translate }}</a>
        </li>
        <li class="menu__item">
            <a href="https://www.ismart.org.br/quem-somos/" target="_blank" class="menu__link">{{ 'NAV.VERSIONS' | translate }}</a>
        </li>
        <li class="menu__item">
            <a href="https://www.ismart.org.br/quem-somos/" target="_blank" class="menu__link">{{ 'NAV.ABOUT' | translate }}</a>
        </li>
    </ul>
    <ul class="menu__language">
        <li 
            class="menu__language--item"
            *ngFor="let lang of translate.getLangs()"
            [class.menu__language--active]="translate.currentLang === lang"
            (click)="changeLanguage(lang)">
            {{ lang.split('-')[0] }}
        </li>
    </ul>
</div>