<section class="related">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="related-title">Leia Também</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="related-single">
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <div class="related-title">
                        <h4>Capítulo 01</h4>
                        <h3>Mensagem do Conselho</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="related-single">
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <div class="related-title">
                        <h4>Capítulo 01</h4>
                        <h3>Mensagem do Conselho</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="related-single">
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <div class="related-title">
                        <h4>Capítulo 01</h4>
                        <h3>Mensagem do Conselho</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>