<section class="related">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="related__title">Leia Também</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="related__single" [routerLink]="['/chapter-intern']">
                    <figure>
                        <img src="assets/images/related.jpg" alt="">
                    </figure>
                    <div class="related__single--title">
                        <h4>Capítulo 01</h4>
                        <h3>Mensagem do Conselho</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="related__single" [routerLink]="['/chapter-intern']">
                    <figure>
                        <img src="assets/images/related.jpg" alt="">
                    </figure>
                    <div class="related__single--title">
                        <h4>Capítulo 01</h4>
                        <h3>Mensagem do Conselho</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a class="related__single" [routerLink]="['/chapter-intern']">
                    <figure>
                        <img src="assets/images/related.jpg" alt="">
                    </figure>
                    <div class="related__single--title">
                        <h4>Capítulo 01</h4>
                        <h3>Mensagem do Conselho</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>