.float-container {
	position: relative;
	top: 0;
	transform: translateY(0);
	transition: top 200ms ease, transform 200ms ease;
	margin: 0 auto;
	z-index: 0;
	max-width: 1260px;
	&.fixed {
			position: fixed;
			left: 0;
			right: 0;
			top: 20px;
	}
	@media (min-width: 1600px) {
		max-width: 1440px;
	}
	@media (max-width: 768px) {
		display: none;
	}
}
