<ul class="share">
	<li class="share--item">
			<a [href]="'https://www.facebook.com/sharer/sharer.php?u='+ currentUrl" target="_blank" class="share--link">
				<i class="fa fa-facebook-f"></i>
			</a>
	</li>
	<li class="share--item">
			<a [href]="'https://twitter.com/intent/tweet?text=' + currentUrl" target="_blank" class="share--link">
				<i class="fa fa-twitter"></i>
			</a>
	</li>
	<li class="share--item">
			<a [href]="'https://www.linkedin.com/shareArticle?mini=true&url=' + currentUrl" target="_blank" class="share--link">
				<i class="fa fa-linkedin"></i>
			</a>
	</li>
</ul>