<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="row justify-content-between align-items-center">
				<div class="col-12 col-md-2">
					<div class="footer__brand">
						<a [routerLink]="['/home']">
							<img src="assets/images/logo-footer.svg" alt="" class="footer__brand--image">
						</a>
					</div>
				</div>
				<div class="col-12 col-md-8">
					<ul class="footer__nav">
						<li class="footer__nav--item">
							<a href="#" class="footer__nav--link">Página inicial</a>
						</li>
						<li class="footer__nav--item">
							<a href="#" class="footer__nav--link">Download do relatório</a>
						</li>
						<li class="footer__nav--item">
							<a href="#" class="footer__nav--link">Versões anteriores</a>
						</li>
						<li class="footer__nav--item">
							<a href="#" class="footer__nav--link">Sobre a Ismart</a>
						</li>
						<li class="footer__nav--item">
							<a href="#" class="footer__nav--link">Fale conosco</a>
						</li>
					</ul>
				</div>
				<div class="col-12 col-md-2">
					<ul class="footer__social">
						<li class="footer__social--item">
							<a href="#" class="footer__social--link">
								<i class="fa fa-facebook-f"></i>
							</a>
						</li>
						<li class="footer__social--item">
							<a href="#" class="footer__social--link">
								<i class="fa fa-instagram"></i>
							</a>
						</li>
						<li class="footer__social--item">
							<a href="#" class="footer__social--link">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>		
		</div>
		<div class="footer__helper">
			<div class="row justify-content-between align-items-center">
				<div class="col-12 col-md-4">
					<p>
						<a href="#">Política de privacidade</a>
					</p>
				</div>
				<div class="col-12 col-md-4 text-center">
					<p>
						Ismart © 2019 todos os direitos reservados
					</p>
				</div>
				<div class="col-12 col-md-4 text-right">
					<p>
						By
						<a href="#">Weef</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>