<section class="related">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="related__title">Leia Também</h2>
            </div>
        </div>
        
        <ngx-slick-carousel class="row"
            [config]="slideConfig">
            <div
                ngxSlickItem 
                class="col-md-4" 
                *ngFor="let related of relatedData">
                <a class="related__single" [routerLink]="'/' + related.url">
                    <figure>
                        <img src="{{ related.image }}" alt="{{ related.subtitle }}">
                    </figure>
                    <div class="related__single--title">
                        <h4>{{ related.title }}</h4>
                        <h3>{{ related.subtitle }}</h3>
                    </div>
                </a>
            </div>
        </ngx-slick-carousel>
        
    </div>
</section>